{% extends 'bases/base.html' %}

{% block style %}
    <style>
        .first-navbar {
            background-color: black;
            padding: 0;
        }

        .first-navbar a {
            color: white !important;
            font-size: 12px;
        }

        .root-container {
            padding: 0;
            max-width: 1000px;
        }

        @media (max-width: 1180px) {
            .d-flex {
                width: 85%;
            }

            .first-navbar .navbar-nav {
                width: 100%;
                flex-direction: row;
                display: flex;
            }

            li.nav-item {
                margin-right: 10px;
            }

            .root-container {
                max-width: 85%;
            }
        }
    </style>
    {% block auth_style %}

    {% endblock %}
{% endblock %}

{% block body %}
    <nav class="first-navbar navbar navbar-expand-lg bg-body-tertiary bsh-none">
        <div class="container-fluid root-container">
            <div class="d-flex">
                <a class="navbar-brand" href="/"><strong>ОСНОВА</strong></a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">управление</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://menu.osnovanie.store/">электронное меню</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">лояльность</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/kassa">касса</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank"
                           href="https://datalens.yandex.ru/49h994vn3c0su-osnovanie-coffee">datalens</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a class="nav-link" aria-current="page" href="/accounts/logout/">выйти</a>
                        {% endif %}
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    {% block auth_body %}

    {% endblock %}
{% endblock %}

{% block scripts %}
    {% block auth_scripts %}

    {% endblock %}
{% endblock %}