{% extends 'bases/base_auth.html' %}

{% block auth_style %}
    <style>
        .dropdown-divider {
            margin: 8px 0;
        }

        .dropdown-item {
            font-size: 12px;
            font-weight: 300;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 0 0 0 0 !important;
        }

        .dropdown-menu {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .second-navbar {
            padding: 20px 0;
            border-bottom: 1px solid #eee;
        }

        @media (max-width: 1180px) {
            .second-navbar .navbar-nav {
                flex-direction: row;
                justify-content: space-between;
                width: 40%;
            }
        }
    </style>
    {% block automatization_style %}

    {% endblock %}
{% endblock %}

{% block auth_body %}
    <nav class="second-navbar navbar navbar-expand-lg bg-body-tertiary bsh-none mx-auto">
        <div class="container-fluid root-container">
            <a class="navbar-brand font-title-1" href="/">osnovanie coffee</a>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        сводка
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item font-body-2" href="/">общая</a></li>
                        <li><a class="dropdown-item font-body-2" href="#">основание</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        заведение
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item font-body-2" href="#">точки продаж</a></li>
                        <li><a class="dropdown-item font-body-2" href="#">сотрудники</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item font-body-2" href="#">настройка</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        стафф
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item font-body-2" href="/staff_log">списания</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item font-body-2" href="#">настройка</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        меню
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item font-body-2" href="/goods">позиции</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item font-body-2" href="#">настройка</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        склад
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item font-body-2" href="/products">остатки</a></li>
                        <li><a class="dropdown-item font-body-2" href="/supplies">поставки</a></li>
                        <li><a class="dropdown-item font-body-2" href="/billets_create">заготовки</a></li>
                        <li><a class="dropdown-item font-body-2" href="/revision_create">инвентаризации</a></li>
                        <li><a class="dropdown-item font-body-2" href="/products_log?page=1">списания</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item font-body-2" href="#">настройка</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    {% block automatization_body %}

    {% endblock %}
{% endblock %}

{% block auth_scripts %}
    {% block automatization_scripts %}

    {% endblock %}
{% endblock %}
