{% extends 'bases/base_auth.html' %}

{% block auth_style %}
    <style>
        .custom-sidebar {
            width: 4.5rem;
            position: fixed;
            top: 35%;
        }

        .custom-sidebar .nav-link {
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            border-radius: 10px;
            border: none !important;
        }

        .selected_tab {
            background-color: #e3ebf7 !important;
        }

        .nav-pills {
            margin-left: 0;
            background-color: #fff;
        }

        @media (max-width: 1180px) {
            .custom-sidebar .nav-link {
                width: 65px;
                height: 65px;
            }
        }
    </style>
    {% block kassa_style %}

    {% endblock %}
{% endblock %}

{% block auth_body %}
    <div class="bg-light custom-sidebar">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li>
                <a href="/kassa" class="nav-link py-3 border-bottom kassa" title="" data-bs-toggle="tooltip"
                   data-bs-placement="right">
                    <i class="fa-solid fa-cash-register"></i>
                </a>
            </li>
            <li>
                <a href="/kassa_orders_open" class="nav-link py-3 border-bottom k-open" title=""
                   data-bs-toggle="tooltip"
                   data-bs-placement="right">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </li>
            <li>
                <a href="/kassa_orders_close" class="nav-link py-3 border-bottom k-close" title=""
                   data-bs-toggle="tooltip"
                   data-bs-placement="right">
                    <i class="fas fa-solid fa-receipt fa-fw"></i>
                </a>
            </li>
        </ul>
    </div>
    {% block kassa_body %}

    {% endblock %}
{% endblock %}

{% block auth_scripts %}
    {% block kassa_scripts %}

    {% endblock %}
    <script defer>
        if (location.pathname === '/kassa_orders_open') {
            $('.k-open').addClass('selected_tab')
        } else if (location.pathname === '/kassa_orders_close') {
            $('.k-close').addClass('selected_tab')
        } else if (location.pathname === '/kassa') {
            $('.kassa').addClass('selected_tab')
        }
    </script>
{% endblock %}
