@import "https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css";
@import "../fonts/stylesheet.css";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

/*font styles*/

body {
    font-family: 'TT Norms', serif !important;
}

a {
    color: black !important;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: black;
}

h1 {
    font-size: 38px !important;
    font-weight: 300 !important;
    line-height: 44px;
}

h2 {
    font-size: 32px !important;
    font-weight: 600 !important;
    line-height: 36px;
}

h3 {
    font-size: 32px !important;
    font-weight: 400 !important;
    line-height: 36px;
}

h4 {
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 28px;
}

h5 {
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 28px;
}

.font-logo {
    font-weight: 900 !important;
    font-size: 52px !important;
    line-height: 54px;
    text-transform: uppercase;
}

.font-title-1 {
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 22px;
}

.font-title-2 {
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 22px;
}

.font-title-3 {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 18px;
}

.font-title-4 {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 18px;
}

.font-body-1 {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 18px;
}

.font-body-2 {
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px;
}

.font-body-2-bold {
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 16px;
}

.font-body-2-thin {
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 16px;
    opacity: .6;
}

.font-caption-1 {
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 14px;
    text-transform: uppercase;
}

.font-caption-2 {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 14px;
    text-transform: uppercase;
}

.font-caption-3 {
    font-weight: 300 !important;
    font-size: 12px !important;
    line-height: 14px;
    opacity: .6;
    text-transform: uppercase;
}

.font-error {
    color: red;
}

.talign-center {
    text-align: center;
}

/*button styles*/

.btn-primary-custom {
    color: #ffffff !important;
    background-color: dodgerblue !important;
    box-shadow: none !important;
    border-radius: .5em;
}

.btn-secondary-custom {
    color: dodgerblue !important;
    background-color: #d7eafc !important;
    box-shadow: none !important;
    border-radius: .5em;
}

.btn-black-custom {
    color: #ffffff !important;
    background-color: #000000 !important;
    box-shadow: none !important;
    border-radius: .5em;
}

.btn-light-custom {
    color: #4f4f4f !important;
    background-color: #fbfbfb !important;
    box-shadow: none !important;
    border-radius: .5em;
}

.btn-danger-custom {
    color: #ef5350 !important;
    background-color: #ffe4e9 !important;
    box-shadow: none !important;
    border-radius: .5em;
}

/*inputs*/

.input-custom-extra-small {
    border-radius: .5rem;
    width: 100%;
    font-size: .775rem;
    line-height: 1.5 !important;
}

.input-custom-small {
    border-radius: .5rem;
    width: 100%;
    font-size: .775rem;
    line-height: 2.5 !important;
}

.input-custom {
    border-radius: 12px;
    width: 100%;

}

.input-custom-large {
    border-radius: 1.0rem !important;
    width: 100%;
    height: 56px;
    font-size: 20px;
    line-height: 2.5 !important;
}

.select2-selection {
    border-radius: 12px !important;
    width: 100%;
    height: auto !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.6 !important;
    padding-top: 4.5px !important;
    padding-bottom: 3.680px !important;
}

/*other*/

.bsh-none {
    box-shadow: none !important;
}

.mbc-4 {
    margin-bottom: 4px;
}

.mbc-8 {
    margin-bottom: 8px;
}

.mbc-12 {
    margin-bottom: 12px;
}

.mbc-16 {
    margin-bottom: 16px;
}

.mbc-20 {
    margin-bottom: 20px;
}

.mtc-4 {
    margin-top: 4px;
}

.mtc-8 {
    margin-top: 8px;
}

.mtc-12 {
    margin-top: 12px;
}

.mtc-16 {
    margin-top: 16px;
}

.mtc-20 {
    margin-top: 20px;
}

.mrc-4 {
    margin-right: 4px;
}

.mrc-8 {
    margin-right: 8px;
}

.mrc-12 {
    margin-right: 12px;
}

.mrc-16 {
    margin-right: 16px;
}

.mrc-20 {
    margin-right: 20px;
}

.mlc-4 {
    margin-left: 4px;
}

.mlc-8 {
    margin-left: 8px;
}

.mlc-12 {
    margin-left: 12px;
}

.mlc-16 {
    margin-left: 16px;
}

.mlc-20 {
    margin-left: 20px;
}

.mc-0 {
    margin: 0;
}

.mc-4 {
    margin: 4px auto;
}

.mc-8 {
    margin: 8px auto;
}

.mc-12 {
    margin: 12px auto;
}

.mc-16 {
    margin: 16px auto;
}

.mc-20 {
    margin: 20px auto;
}

.pc-0 {
    padding: 0;
}

.pc-4 {
    padding: 4px;
}

.pc-8 {
    padding: 8px;
}

.pc-12 {
    padding: 12px;
}

.pc-16 {
    padding: 16px;
}

.pc-20 {
    padding: 20px;
}

.d-none {
    display: none !important;
}

.center-self {
    justify-content: center;
    display: flex;
}

.opacity-60 {
    opacity: .6;
}

.opacity-30 {
    opacity: .3;
}

/*weights*/

.w-100 {
    width: 100%;
}

.w-auto {
    width: auto;
}

.w-50 {
    width: 50%;
}

.w-49 {
    width: 49%;
}

.w-74 {
    width: 74%;
}

.w-24 {
    width: 24%;
}

.w-22 {
    width: 22%;
}

.w-44 {
    width: 44%;
}

.w-6 {
    width: 6%;
}

.w-40 {
    width: 40%;
}

.w-20 {
    width: 20%;
}

.w-26 {
    width: 26%;
}

.w-30 {
    width: 30%;
}

.w-36 {
    width: 36%;
}

.w-10 {
    width: 10%;
}

.w-70 {
    width: 70%;
}

/*shape styles*/

.shape-border-small {
    border-radius: .5em;
    border: 1px solid #ccc;
}

.shape-border-medium {
    border-radius: .75em;
    border: 1px solid #ccc;
}

.shape-border-large {
    border-radius: 1.0em;
    border: 1px solid #ccc;
}

.shape-small {
    min-height: auto;
    border-radius: .5em;
}

.shape-medium {
    min-height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: .75em;
}

.shape-large {
    min-height: 56px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 1.0em;
}