{% extends "bases/base_unauth.html" %}

{% block title %}Авторизация{% endblock title %}

{% block unauth_style %}
    <style>
        form {
            width: 320px !important;
            padding: 30px;
        }

        .header-login {
            margin-bottom: 28px !important;
        }
    </style>
{% endblock %}

{% block unauth_body %}

    <form class="mc-8" method="post" action="{% url 'login' %}">
        <h5 class="header-login font-logo w-100 center-self">ОСНОВА</h5>

        {% csrf_token %}
        <div class="form-group mbc-8">
            {{ form.username }}
        </div>
        <div class="form-group mbc-8">
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-black-custom mtc-12 w-100">Войти</button>
        <input type="hidden" name="next" value="{{ next }}"/>

        {% if form.errors %}
            <p class="error-message">Неверный логин/пароль. Попробуйте ещё раз.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p class="talign-center font-body-2 font-error">У вас нет доступа к этой странице. Пожалуйста, авторизуйтесь под профилем, у
                    которого есть доступ.</p>
            {% else %}
                <p class="talign-center font-body-2 font-error">Пожалуйста, авторизуйтесь, чтобы увидеть страницу.</p>
            {% endif %}
        {% endif %}
    </form>

{% endblock %}

{% block unauth_scripts %}
    <script>
        $('input[name="username"]').addClass('form-control talign-center input-custom w-100')
        $('input[name="password"]').addClass('form-control talign-center input-custom w-100')
    </script>
{% endblock %}

