{% load static %}
<link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" />
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/favicon.ico' %}">
<link rel="icon" type="image/png" href="{% static 'icons/favicon.ico' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'icons/favicon.ico' %}" sizes="16x16">
