{% extends 'bases/base_automatization.html' %}

{% block title %}Новая заготовка{% endblock title %}

{% block automatization_style %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="../static/css/select2.css" rel="stylesheet">
    <style>
        .buttons {
            display: flex;
            justify-content: end;
        }

        #add {
            margin-right: 10px;
        }

        .forms .form-group {
            margin-left: 0;
            margin-right: 0;
            padding: 0;
        }

        .expenses-header {
            width: 100% !important;
            margin: 0;
        }

        .expenses-header form {
            border-radius: .5rem;
            margin: 0;
            width: 100% !important;
        }

        .forms > div {
            align-items: baseline;
        }

        .forms-header {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 15px;
            padding: 0 !important;
        }

        .billet-data-container {
            margin: 0 !important;
            align-items: center !important;
        }

        .create-block {
            background-color: aliceblue;
            border-radius: 1em;
            margin-top: 16px;
            padding: 16px;
            --mdb-gutter-x: 0 !important;;
        }

        .raw {
            padding: 0 !important;
        }

        table {
            width: 100% !important;
            border-color: #eee;
            margin-top: 20px !important;
        }

        table th {
            padding: 12px;
        }

        table thead {
            color: #ccc;
        }

        table tbody tr {
            border-width: 1px;
        }

        .mr-24 {
            margin-right: 24px !important;
        }
    </style>
{% endblock %}

{% block automatization_body %}
    <div class="row expenses-header root-container mx-auto">
        <div class="row create-block">
            <div class="forms-header">
                <h4>Добавить заготовки</h4>
                <div class="buttons">
                    <button id="add" type="button" class="btn btn-secondary-custom" onclick="addNewSupplyForm()"><i
                            class="fa-solid fa-plus"></i></button>
                    <button id="save_form_btn" class="btn btn-primary-custom" onclick="save_form()">Сохранить</button>
                </div>
            </div>
            {% csrf_token %}
            <div class="raw">
                <form method="post" class="forms">
                    {% csrf_token %}
                    <div class="row form-inline billet-data-container mr-24">
                        <div class="form-group mtc-8 col mr-24">
                            <select id="list-1" class="form-control" name="1_name">
                                <option selected>Заготовка</option>
                                {% for product in products %}
                                    <option value="{{ product.id }}">{{ product.name_weight_measure }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mtc-8 col">
                            <input type="number" class="form-control input-custom" name="1_count"
                                   placeholder="Количество порций" required>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="root-container mx-auto" rules="rows" cellpadding="5">
        <thead>
        <tr>
            <th class="font-caption-2">Дата и время</th>
            <th class="font-caption-2">Причина</th>
            <th class="font-caption-2">Продукт</th>
            <th class="font-caption-2">Объём</th>
            <th class="font-caption-2">Стоимость</th>
            <th class="font-caption-2">Комментарий</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {% for log in logs %}
            <tr>
                <th class="font-body-2" width="200">{{ log.created_at }}</th>
                <th class="font-body-2" width="100">{{ log.action }}</th>
                <th class="font-body-2" width="300">{{ log.name }}</th>
                <th class="font-body-2" width="100">{{ log.volume }}</th>
                <th class="font-body-2" width="200">{{ log.cost }} ₽</th>
                <th class="font-body-2" width="300">{{ log.reason }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block automatization_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        function setSelectSearch(name) {
            $(name).select2({
                placeholder: "Выберите продукт",
                maximumSelectionLength: 2,
                language: "ru",
                theme: "bootstrap"
            });
            return true
        }

        $(document).ready(setSelectSearch('#list-1'));
    </script>
    <script>
        let form_count = 1

        function addNewSupplyForm() {
            form_count++
            $('.forms').append(getNewSupplyForm(form_count))
            setSelectSearch('#list-' + form_count)
        }

        function getNewSupplyForm(num) {
            return '<div class="row form-inline billet-data-container" id="' + num + '">' +
                '<div class="form-group mtc-8 col mr-24">' +
                '<select id="list-' + num + '" class="form-control product_list" name="' + num + '_name">' +
                '<option selected>Заготовка</option>' +
                {% for product in products %}
                    '<option value="{{ product.id }}">{{ product.name_weight_measure }}</option>' +
                {% endfor %}
                '</select>' +
                '</div>' +
                '<div class="form-group mtc-8 col">' +
                '<input type="number" class="form-control input-custom" name="' + num + '_count" placeholder="Количество порций" required>' +
                '</div>' +
                '<button type="button" class="btn-close mtc-8" onclick="deleteForm(' + num + ')"></button>' +
                '</div>'
        }

        function deleteForm(num) {
            $('#' + num).remove()
        }
    </script>
    <script>
        function save_form() {
            $('#save_form_btn').addClass('disabled')
            let form = $('.raw form').serializeArray()

            form.push({
                'name': 'date',
                'value': $('input[name=date]').val()
            })

            $.post('/billets_create', form, function (data) {
                location.href = '/products'
            })
        }
    </script>
{% endblock %}

