{% extends 'bases/base_automatization.html' %}

{% block title %}ТТК{% endblock title %}

{% block automatization_style %}
    <style>
        .root {
            width: 100% !important;
            margin: 0 auto;
            display: flex;
        }

        .card {
            border-radius: 20px;
            min-width: 186px;
            cursor: pointer;
            margin-right: 4px;
            margin-bottom: 4px;
            box-shadow: none;
        }

        .item-container {
            display: flex;
            flex-flow: wrap;
            margin-bottom: 16px;
        }

        .search-container {
            display: flex;
        }

        .main-items-container {
            width: 60%;
        }

        .item-window-container {
            width: 40%;
            padding: 20px 0 20px 20px;
            height: 85vh;
            overflow: scroll;
            position: sticky !important;
            top: 20px;
        }

        .empty-message-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .item-recipe-form, .item-row-group, .recipe-setting-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .item-recipe-settings {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .add-setting-btn {
            width: 28px;
            padding: 8px;
        }

        .item_color {
            min-width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #eee;
            margin-right: 8px;
            align-self: stretch;
            margin-top: 2px;
        }

        .order_item_container {
            display: flex;
            align-items: center;
        }

        .details-br {
            border-left: 1px solid #eee;
        }

        .details-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @media (max-width: 1180px) {
            .tag-item .card {
                max-width: unset !important;
                min-width: unset !important;
            }
        }
    </style>
{% endblock %}

{% block automatization_body %}
    <div class="items-container">
        <div class="mx-auto root root-container">
            <div class="main-items-container mrc-20">
                <div class="search-container mbc-20 mtc-20 mx-auto">
                    <input id="search" class="form-control input-custom-large mrc-20 w-100" type="search" placeholder="Поиск товара"
                           aria-label="Search"
                           onkeyup="search($(this).val())">
                    <button id="add-good-btn" type="button" class="btn btn-secondary-custom clear-search-btn" style="width: 120px;"><i class="fa-solid fa-plus" style="margin-right: 4px"></i></button>
                </div>
            {% for category in categories %}
                <div class="tag-item row row-cols-auto row-cols-md-3">
                    <div class="w-100 item-container row-cols-md-4">
                        {% for item in category.items %}
                            <div class="card bg-light {% if item.is_hidden %}hidden{% endif %}" id="{{ item.id }}">
                                <div class="card-body">
                                 <span>
                                 <div class="order_item_container">
                                        <div class="item_color" style="background-color: {{ category.color }}"></div>
                                        <p class="card-body__name font-title-1">{{ item.name }}</p>
                                    </div>
                                    <span class="card-body__cost font-body-1">{{ item.cost }} ₽</span>
                                    <span class="card-body__price font-caption-3">{{ item.self_price }} ₽ ({{ item.percent }}%)</span>
                                </span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="item-window-container details-br item-card d-none">
                <div class="item-header details-header mbc-16">
                    <h4 id="item_name"></h4>
                    <button type="button" class="btn-card-close btn-close" aria-label="Close"></button>
                </div>
                <div class="recipe pc-16 mbc-16 shape-border-small"></div>
                <div class="settings pc-16 shape-border-small mbc-16">
                    <p class="details-block-header mbc-16 font-title-3">Настройки</p>
                    {% csrf_token %}
                    <div class="form-check">
                        <input class="form-check-input" name="hide" type="checkbox" onchange="mark_as_hidden(this.id)">
                        <label class="form-check-label">Отображать на кассе</label>
                    </div>
                </div>
                <div>
                    <button id="edit-item-btn" type="button" class="btn btn-light-custom shape-medium w-100 form-control">Редактировать</button>
                    <button type="button" class="btn mtc-8 btn-danger-custom w-100 form-control" onclick="mark_as_deleted()">Удалить</button>
                </div>
            </div>
            <div class="item-window-container details-br empty-item-card">
                <div class="empty-message-container">
                    <p class="font-title-2 opacity-60">Выберите товар</p>
                </div>
            </div>
            <div class="item-window-container details-br create-item-card d-none">
                <div class="modal-header details-header mbc-16">
                    <h4 class="modal-title">Создать товар</h4>
                    <button type="button" class="btn-close btn-close-adding"></button>
                </div>
                <form class="create-item-form modal-body">
                    {% csrf_token %}
                    <div class="item-row-group mbc-8">
                        <div class="form-group w-49">
                            <input name="item-name1" class="form-control input-custom-small" type="text" placeholder="Название 1">
                        </div>
                        <div class="form-group w-49">
                            <input name="item-name2" class="form-control input-custom-small" type="text" placeholder="Название 2">
                        </div>
                    </div>
                    <div class="item-row-group mbc-16">
                        <div class="form-group w-49">
                            <select name="item-tag" class="form-control input-custom-small">
                                <option selected disabled>Категория</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group w-49">
                            <input name="item-cost" class="form-control input-custom-small" type="text" placeholder="Цена">
                        </div>
                    </div>
                    <div class="form-group mbc-8">
                        <textarea name="item-description" class="form-control input-custom-small" placeholder="Описание" rows="3"></textarea>
                    </div>

                    <div class="pc-16 shape-border-small mbc-16">
                        <div class="form-check form-switch">
                            <input class="form-check-input" checked="checked" type="checkbox" id="is_hidden" name="item-is_hidden">
                            <label class="form-check-label" for="is_hidden">Отображать на кассе</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="need_show_default_option_value" name="item-need_show_default_option_value">
                            <label class="form-check-label" for="need_show_default_option_value">Нужно ли показывать опцию по умолчанию</label>
                        </div>
                    </div>

                    <div class="pc-16 shape-border-small mbc-16">
                        <p class="details-block-header mbc-16 font-title-3">Рецепты</p>
                        <div class="item-recipes">
                        <div id="recipe_0" class="item-recipe-item mbc-12">
                            <div class="item-recipe-form mbc-8">
                                <div class="form-group w-40">
                                    <select name="recipe-tag_id_0" class="form-control input-custom-small">
                                        <option selected disabled>Тэг</option>
                                        {% for tag in recipe_product_tags %}
                                            <option value="{{ tag.id }}">{{ tag.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group w-40">
                                    <input name="recipe-count_0" class="form-control input-custom-small" type="text" placeholder="Кол-во">
                                </div>
                                <div class="form-group w-6">
                                    <button type="button" class="btn add-setting-btn btn-secondary-custom bsh-none" onclick="add_setting_form_item(0)"><i class="fa-solid fa-plus"></i></button>
                                </div>
                                <div class="form-group w-6">
                                    <button type="button" class="btn-close delete-recipe-btn d-none" onclick="delete_recipe_item(0)"></button>
                                </div>
                            </div>
                            <div class="item-recipe-settings"></div>
                        </div>
                    </div>
                        <button type="button" id="add-recipe-btn" class="btn btn-light-custom w-100 pc-4 form-control" onclick="add_recipe_form_item()">Добавить ингредиент</button>
                    </div>
                    <div>
                        <button type="button" id="save-good-btn" class="btn btn-black-custom w-100 shape-medium form-control" onclick="create_item()">Сохранить</button>
                    </div>
                </form>
            </div>
            <div class="item-window-container details-br edit-item-card d-none">
                <div class="modal-header details-header mbc-16">
                    <h4 class="modal-title">Редактировать товар</h4>
                    <button type="button" class="btn-close btn-close-editing"></button>
                </div>
                <form class="edit-item-form modal-body">
                    {% csrf_token %}
                    <div class="item-row-group mbc-8">
                        <div class="form-group w-49">
                            <input name="item-name1" class="form-control input-custom-small" type="text" placeholder="Название 1">
                        </div>
                        <div class="form-group w-49">
                            <input name="item-name2" class="form-control input-custom-small" type="text" placeholder="Название 2">
                        </div>
                    </div>
                    <div class="item-row-group mbc-16">
                        <div class="form-group w-49">
                            <select name="item-tag" class="form-control input-custom-small">
                                <option selected disabled>Категория</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group w-49">
                            <input name="item-cost" class="form-control input-custom-small" type="text" placeholder="Цена">
                        </div>
                    </div>
                    <div class="form-group mbc-8">
                        <textarea name="item-description" class="form-control input-custom-small" placeholder="Описание" rows="3"></textarea>
                    </div>

                    <div class="pc-16 shape-border-small mbc-16">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="is_hidden" name="item-is_hidden">
                            <label class="form-check-label" for="is_hidden">Отображать на кассе</label>
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="need_show_default_option_value" name="item-need_show_default_option_value">
                            <label class="form-check-label" for="need_show_default_option_value">Показывать опции по умолчанию</label>
                        </div>
                    </div>

                    <div class="pc-16 shape-border-small mbc-16">
                        <p class="details-block-header mbc-16 font-title-3">Рецепты</p>
                        <div class="item-recipes">
                        <div id="recipe_0" class="item-recipe-item mbc-12">
                            <div class="item-recipe-form mbc-8">
                                <div class="form-group w-40">
                                    <select name="recipe-tag_id_0" class="form-control input-custom-small">
                                        <option selected disabled>Тэг</option>
                                        {% for tag in recipe_product_tags %}
                                            <option value="{{ tag.id }}">{{ tag.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group w-40">
                                    <input name="recipe-count_0" class="form-control input-custom-small" type="text" placeholder="Кол-во">
                                </div>
                                <div class="form-group w-6">
                                    <button type="button" class="btn add-setting-btn btn-secondary-custom bsh-none" onclick="add_setting_form_item(0)"><i class="fa-solid fa-plus"></i></button>
                                </div>
                                <div class="form-group w-6">
                                    <button type="button" class="btn-close delete-recipe-btn d-none" onclick="delete_recipe_item(0)"></button>
                                </div>
                            </div>
                            <div class="item-recipe-settings">
                                <div class="recipe-setting-form w-100" id="recipe_0-setting_0">
                                    <div class="form-group w-6"></div>
                                    <div class="form-group w-40">
                                        <select name="recipe_0-setting_0-product_id" class="form-control input-custom-extra-small mbc-4">
                                            <option selected disabled>Продукт</option>
                                            {% for product in products %}
                                                <option value="{{ product.id }}">{{ product.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group w-20">
                                        <input name="recipe_0-setting_0-count" class="form-control input-custom-extra-small mbc-4" type="text" placeholder="+ к цене">
                                    </div>
                                    <div class="form-check form-switch w-20">
                                      <input class="form-check-input" type="radio" id="is_default" name="recipe_0-setting_0-is_default" checked onchange="check_single_radio('recipe_0', 'setting_0')">
                                    </div>
                                    <div class="form-group w-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div>
                        <button type="button" id="edit-good-btn" class="btn btn-black-custom w-100 shape-medium form-control" onclick="edit_item()">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block automatization_scripts %}
    <script>
        function check_single_radio(recipe_id, setting_id) {
            let radio = $('#' + recipe_id + ' .form-rad input')

            for (let i = 0; i < radio.length; i++) {
                if (radio[i].name !== (recipe_id + '-' + setting_id + '-is_default')) {
                    radio[i].checked = false
                }
            }
        }

        function mark_as_hidden(item_id) {
            let id_num = item_id.split("_")[1]
            $.post('/items/' + id_num + '/change_hiding/', {'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()}, function (data) {
                console.log("OK")
                let card = $('#' + id_num);
                if (card.hasClass('hidden')) {
                    card.removeClass('hidden')
                } else {
                    card.addClass('hidden')
                }
            })
        }

        function mark_as_deleted() {
            let is_confirmed = confirm("Вы уверены, что хотите удалить данный товар?")
            if (is_confirmed) {
                $.post('/items/' + item.id + '/mark_as_deleted/', {'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()}, function (data) {
                    document.location.reload()
                })
            }
        }

        let item;
        $('.card').on('click', function () {
            $.get(`/items/${this.id}`, function (data) {
                item = data
                $('.empty-item-card').addClass('d-none')
                $('.item-card').removeClass('d-none')
                $('.create-item-card').addClass('d-none')
                $('.edit-item-card').addClass('d-none')
                $('#item_name').text(item.name)
                let tbody = '<p class="modal_recipe details-block-header font-title-3">Рецепт</p><table rules="rows" cellpadding="0"><tbody>'
                let sum = 0
                for (let i = 0; i < item['recipes'].length; i++) {
                    let price_per_item = item['recipes'][i]['default_product'].average_cost * item['recipes'][i]['count']
                    sum += price_per_item

                    tbody += `<tr>` +
                        `<th class="font-body-2" width="300">${item['recipes'][i]['default_product'].name}</th>` +
                        `<th class="font-body-2" width="100">${item['recipes'][i]['count']} ${item['recipes'][i]['default_product']['measure'].name}</th>` +
                        `<th class="font-body-2" width="100">${price_per_item.toFixed(2)} ₽</th>` +
                        `</tr>`
                }
                tbody += `<tr>` +
                    `<th width="300"></th>` +
                    `<th class="font-body-2-bold" width="100">Итог</th>` +
                    `<th class="font-body-2-bold" width="100">${sum.toFixed(2)} ₽</th>` +
                    `</tr>`
                tbody += '</tbody></table>'

                let desc = (item.description && item.description.length > 0) ? item.description + '<br><br>' : ''
                $('.recipe')[0].innerHTML = desc + tbody
                $('.item-window-container .settings input').prop("id", "input_" + item.id)
                $('.item-window-container .settings label').prop("for", "input_" + item.id)
                $('.item-window-container .settings input[name=hide]').prop("checked", !item.is_hidden)
            })
        })

        $('.btn-card-close').on('click', function() {
            $('.empty-item-card').removeClass('d-none')
            $('.item-card').addClass('d-none')
            $('.create-item-card').addClass('d-none')
            $('.edit-item-card').addClass('d-none')
        })

        $('#add-good-btn').on('click', function() {
            $('.empty-item-card').addClass('d-none')
            $('.item-card').addClass('d-none')
            $('.create-item-card').removeClass('d-none')
            $('.edit-item-card').addClass('d-none')
        })
        $('.btn-close-adding').on('click', function() {
            $('.empty-item-card').removeClass('d-none')
            $('.item-card').addClass('d-none')
            $('.create-item-card').addClass('d-none')
            $('.edit-item-card').addClass('d-none')
        })
        $('.btn-close-editing').on('click', function() {
            $('.empty-item-card').removeClass('d-none')
            $('.item-card').addClass('d-none')
            $('.create-item-card').addClass('d-none')
            $('.edit-item-card').addClass('d-none')
        })

        $('#edit-item-btn').on('click', function () {
            $('.edit-item-card').removeClass('d-none')
            $('.empty-item-card').addClass('d-none')
            $('.item-card').addClass('d-none')
            $('.create-item-card').addClass('d-none')

            $('.edit-item-card input[name=item-name1]').val(item.name1)
            $('.edit-item-card input[name=item-name2]').val(item.name2)
            $('.edit-item-card select[name=item-tag]').val(item.item_category)
            $('.edit-item-card textarea[name=item-description]').val(item.description)
            $('.edit-item-card input[name=item-cost]').val(item.cost)
            $('.edit-item-card input[name=item-need_show_default_option_value]').prop('checked', item.need_show_default_option_value)
            $('.edit-item-card input[name=item-is_hidden]').prop('checked', !item.is_hidden)

            $('.edit-item-card .item-recipes').html('')
            for (let i = 0; i < item.recipes.length; i++) {
                add_recipe_form_item()
                let r = $('.edit-item-form .item-recipes').children()[i]
                let tag_field = $('.edit-item-form #recipe_' + recipe_count + ' .item-recipe-form select')
                let count_field = $('.edit-item-form #recipe_' + recipe_count + ' .item-recipe-form input')

                $(tag_field).val(item.recipes[i].product_tag)
                if (!item.recipes[i].product_tag) {
                    $('.edit-item-card #recipe_' + recipe_count + ' .item-recipe-form .add-setting-btn').remove()
                }
                $(tag_field).prop('disabled', true)
                $(count_field).val(item.recipes[i].count)
                let s_num = 1
                for (let j = 0; j < item.recipes[i].settings.length; j++) {
                    if (item.recipes[i].settings.length - 1 !== j) {
                        add_setting_form_item(recipe_count)
                    }
                    {##recipe_6 > div.item-recipe-settings > div:nth-child(5) > div.form-group.w-26 > input#}
                    //#recipe_6 > div.item-recipe-settings > div:nth-child(5) > div.form-check.form-rad.w-10 > input
                    let q_sel = '.edit-item-form #recipe_' + recipe_count + ' .recipe-setting-form:nth-child(' + s_num + ') '
                    $(q_sel + 'select').val(item.recipes[i].settings[j].product.id)
                    $(q_sel + 'select').prop('disabled', true)
                    $(q_sel + 'div.form-group.w-26 > input').val(item.recipes[i].settings[j].extra_cost)
                    $(q_sel + 'div.form-check.form-rad.w-10 > input').prop('checked', item.recipes[i].settings[j].is_default)
                    s_num++
                }
            }
            {#$('.edit-item-card .add-setting-btn').remove()#}
            $('.edit-item-card .delete-recipe-btn').remove()
        })

        let recipe_count = 0
        let setting_count = 0
        function add_recipe_form_item() {
            $('.delete-recipe-btn').removeClass('d-none')
            recipe_count++
            setting_count++
            $('.item-recipes').append(get_recipe_form_item(recipe_count, setting_count))
        }

        function delete_recipe_item(item_id) {
            $('#recipe_' + item_id).remove()
            if ($('.item-recipes').children().length < 2) {
                $('.delete-recipe-btn').addClass('d-none')
            }
        }

        $('.add-setting-btn').on('click', function () {

        })

        function get_setting_form_item(recipe_id, setting_id) {
            return '<div class="recipe-setting-form w-100">' +
                        '<div class="form-group w-50">' +
                            '<select name="recipe_' + recipe_id + '-setting_' + setting_id + '-product_id" class="form-control input-custom-extra-small mbc-4">' +
                                '<option selected disabled>Продукт</option>' +
                                {% for product in products %}
                                    '<option value="{{ product.id }}">{{ product.name }}</option>' +
                                {% endfor %}
                            '</select>' +
                        '</div>' +
                        '<div class="form-group w-26">' +
                            '<input name="recipe_' + recipe_id + '-setting_' + setting_id + '-count" class="form-control input-custom-extra-small mbc-4" type="text" placeholder="+ к цене">' +
                        '</div>' +
                        '<div class="form-check form-rad w-10">' +
                          '<input class="form-check-input" type="radio" id="is_default" name="recipe_' + recipe_id + '-setting_' + setting_id + '-is_default" onchange="check_single_radio(\'recipe_' + recipe_id + '\', \'setting_' + setting_id + '\')">' +
                        '</div>' +
                        '<div class="form-group w-6"></div>' +
                    '</div>'
        }

        function add_setting_form_item(recipe_id) {
            setting_count++
            $('#recipe_' + recipe_id + ' .item-recipe-settings').append(get_setting_form_item(recipe_id, setting_count))
        }

        function get_recipe_form_item(item_id, setting_id) {
            return '<div id="recipe_' + item_id + '" class="item-recipe-item mbc-12">' +
                        '<div class="item-recipe-form mbc-8">' +
                            '<div class="form-group w-40">' +
                                '<select name="recipe-tag_id_' + item_id + '" class="form-control input-custom-small">' +
                                    '<option selected disabled>Тэг</option>' +
                                    {% for tag in recipe_product_tags %}
                                        '<option value="{{ tag.id }}">{{ tag.name }}</option>' +
                                    {% endfor %}
                                '</select>' +
                            '</div>' +
                            '<div class="form-group w-40">' +
                                '<input name="recipe-count_' + item_id + '" class="form-control input-custom-small" type="text" placeholder="Кол-во">' +
                            '</div>' +
                            '<div class="form-group w-6">' +
                                '<button type="button" class="btn add-setting-btn btn-secondary-custom bsh-none" onclick="add_setting_form_item(' + item_id + ')"><i class="fa-solid fa-plus"></i></button>' +
                            '</div>' +
                            '<div class="form-group w-6">' +
                                '<button type="button" class="btn-close delete-recipe-btn" onclick="delete_recipe_item(' + item_id + ')"></button>' +
                            '</div>' +
                        '</div>' +
                        '<div class="item-recipe-settings">' +
                            '<div class="recipe-setting-form w-100">' +
                                '<div class="form-group w-50">' +
                                    '<select name="recipe_' + item_id + '-setting_' + setting_id + '-product_id" class="form-control input-custom-extra-small mbc-4">' +
                                        '<option selected disabled>Продукт</option>' +
                                        {% for product in products %}
                                            '<option value="{{ product.id }}">{{ product.name }}</option>' +
                                        {% endfor %}
                                    '</select>' +
                                '</div>' +
                                '<div class="form-group w-26">' +
                                    '<input name="recipe_' + item_id + '-setting_' + setting_id + '-count" class="form-control input-custom-extra-small mbc-4" type="text" placeholder="+ к цене">' +
                                '</div>' +
                                '<div class="form-check form-rad w-10">' +
                                    '<input class="form-check-input" type="radio" id="is_default" checked name="recipe_' + item_id + '-setting_' + setting_id + '-is_default" onchange="check_single_radio(\'recipe_' + item_id + '\', \'setting_' + setting_id + '\')">' +
                                '</div>' +
                                '<div class="form-group w-6"></div>' +
                            '</div>' +
                        '</div>' +
                    '</div>'
        }

        function create_item() {
            let form = $('.create-item-form').serializeArray()

            $.post('/items/', form, function(response) {
                if (response["message"] == 1) {
                    alert("Товар успешно сохранён")
                    location.reload();
                } else {
                    alert(response["message"])
                }
            })
        }
    </script>
    <script>
        // показывает все элементы на кассе, если нет никакого запроса
        function showAll(class_name=null) {
            let cards = $('.card');
            for (let i = 0; i < cards.length; i++) {
                $(`#${cards[i].id}`).show()
            }
        }

        function clearSearchField() {
            $('#search').val('')
            showAll()
        }

        function search(value) {
            if (value === "") {
                showAll()
            } else {
                let cards = $('.card');
                let val = value.toLowerCase()
                for (let i = 0; i < cards.length; i++) {
                    let card_id = `#${cards[i].id}`;
                    if ($(`${card_id} .card-body__name`).text().toLowerCase().includes(val)) {
                        $(card_id).show()
                    } else {
                        $(card_id).hide()
                    }
                }
            }

            let containers = $('.item-container')
            for (let j = 0; j < containers.length; j++) {
                let sum = 0
                for (let k = 0; k < containers[j].children.length; k++) {
                    if (containers[j].children[k].style.display !== 'none') {
                        sum += 1
                        break
                    }
                }

                containers[j].parentElement.style.display = sum === 0 ? 'none' : ''
            }
        }
    </script>
    <script>
        function edit_item() {
            let form = $('.edit-item-form');
            let disabled = form.find(':input:disabled').removeAttr('disabled');
            let serialized = form.serializeArray();
            disabled.attr('disabled','disabled');

            $.ajax({
                url: '/items/' + item.id + '/',
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'PATCH',
                dataType: 'html',
                data: serialized,
                success: function (response) {
                    alert("Товар успешно сохранён")
                    location.reload();
                }
            });
        }
    </script>
{% endblock %}

