{% extends 'bases/base_automatization.html' %}

{% block title %}Стафф списания{% endblock title %}

{% block automatization_style %}
    <style>
        table {
            width: 100% !important;
            border-color: #eee;
            margin-top: 20px !important;
        }

        table th {
            padding: 12px;
        }

        table thead {
            color: #ccc;
        }

        table tbody tr {
            border-width: 1px;
        }

        .row {
            align-items: end;
        }

        .container-data {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .row {
            width: 50%;
            padding: 0;
        }
    </style>
{% endblock %}

{% block automatization_body %}
    <div class="container-data row row-cols-auto row-cols-md-2 root-container mx-auto">
        <table rules="rows" cellpadding="5">
            <thead>
            <tr>
                <th class="font-caption-2">Товар</th>
                <th class="font-caption-2">Стоимость</th>
                <th class="font-caption-2">Сотрудник</th>
                <th class="font-caption-2">Дата и время</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {% for log in logs %}
                <tr>
                    <th class="font-body-2" width="300">{{ log.name }}</th>
                    <th class="font-body-2" width="200">{{ log.cost }} ₽</th>
                    <th class="font-body-2" width="200">{{ log.user }}</th>
                    <th class="font-body-2" width="200">{{ log.created_at }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block automatization_scripts %}

{% endblock %}
