{% extends 'bases/base_kassa.html' %}

{% block title %}Открытые заказы{% endblock title %}

{% block kassa_style %}
    <style>
        .orders-table {
            width: 100% !important;
            margin-top: 20px;
            margin-bottom: 20px;
            border-color: #eee;
        }

        .orders-table thead {
            color: #ccc;
        }

        .orders-table th {
            vertical-align: baseline;
            padding: 15px;
        }

        .orders-table tbody tr {
            border-width: 1px;
        }

        .orders-table tbody {
            border-width: 1px;
        }

        .configured-item {
            display: flex;
            align-items: center;
        }
    </style>
{% endblock %}

{% block kassa_body %}
    <div class="row row-cols-auto row-cols-md-2 g-2 root-container mx-auto">
        <table class="orders-table" rules="rows" cellpadding="5">
            <thead>
            <tr>
                <th class="font-caption-2">№</th>
                <th class="font-caption-2">Время</th>
                <th class="font-caption-2">Позиции</th>
                <th class="font-caption-2">Комментарий</th>
            </tr>
            </thead>
            <tbody>
            {% csrf_token %}
            {% for order in orders %}
                <tr>
                    <th class="font-body-2" width="100">{{ order.id }}</th>
                    <th class="font-body-2" width="100">{{ order.created_at }}</th>
                    <th class="font-body-2" width="300">
                        {% for open_order in order.open_order %}
                            <p class="configured-item mbc-8">
                                <input type="hidden" name="open_order_id" value="{{ open_order.id }}">
                                <button class="btn btn-primary-custom mrc-8 {% if open_order.is_closed %}disabled btn-secondary-custom{% endif %}">
                                    {% if open_order.is_closed %}Отдано{% else %}Отдать{% endif %}
                                </button>
                                <span class="configured-item__name">{{ open_order.item }}</span>
                            </p>
                        {% endfor %}
                    </th>
                    <th class="font-body-2" width="300">{{ order.comment }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block kassa_scripts %}
    <script>
        $('.configured-item button').on('click', function () {
            let btn = $(this)
            let hidden_form = $(this).parent().children('input[type=hidden]')
            let post_data = {'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()}

            for (let i = 0; i < hidden_form.length; i++) {
                post_data[hidden_form[i].name] = hidden_form[i].value
            }

            $.post('orders/check_item/', post_data, function (data) {
                btn.addClass('disabled')
                btn.addClass('btn-secondary-custom')
                btn.text('Отдано')
            })
        })
    </script>
{% endblock %}

