{% extends 'bases/base_kassa.html' %}

{% block title %}Закрытые заказы{% endblock title %}

{% block kassa_style %}
    <style>
        .filter_form_container h5 > span {
            opacity: .4;
        }

        #for_day {
            opacity: 1;
        }

        .filter_form h3 {
            white-space: nowrap;
            padding-right: 15px;
            margin: 0;
        }

        .filter_form_container {
            width: 100%;
            margin: 0px 0px 20px 0px;
            padding: 0px;
        }

        tbody tr {
            cursor: pointer;
        }

        .orders-table {
            width: 100% !important;
            border-color: #eee;
        }

        .orders-table thead {
            color: #ccc;
        }

        .orders-table th {
            vertical-align: baseline;
            font-weight: 300 !important;
            font-size: 14px;
            padding: 12px;
        }

        .orders-table tbody tr {
            border-width: 1px;
        }

        .orders-table tbody {
            border-width: 1px;
        }

        .item_color {
            min-width: 15px;
            height: 15px;
            border-radius: 50%;
        }

        .order_item_container {
            display: flex;
            align-items: center;
        }

        .order_item_container p {
            margin-bottom: 0;
            margin-left: 5px;
        }

        .modal-header {
            border-bottom: none;
        }

        .modal-dialog {
            min-width: 600px;
        }

        .modal-body .col {
            margin-bottom: 15px;
        }

        .time_block {
            font-size: 1.25rem;
            font-weight: 500;
            display: flex;
            align-items: center;
        }

        #order_date_modal {
            margin-right: 8px;
        }

        .info_block {
            display: flex;
            justify-content: space-between;
            border: 1px solid #ccc;
            border-radius: 0.5em;
            padding: 16px;
        }

        .info_block.positions {
            flex-direction: column;
        }

        .info_block__cost {
            justify-content: space-around;
        }

        .ai-center {
            align-items: center;
        }

        .info_block .col {
            margin: 0;
            height: fit-content;
        }

        .info_block .col p {
            margin: 0;
        }

        .info_block .col button {
            box-shadow: none;
        }

        .info_block__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .value {
            font-size: 30px;
            font-weight: 700;
        }

        .value-label {
            opacity: .6;
        }

        .parent-container {
            margin: 20px 0px;
        }
    </style>
{% endblock %}

{% block kassa_body %}
    <div class="row row-cols-auto row-cols-md-2 g-2 root-container mx-auto parent-container">
        <div class="filter_form_container">
            <h5>За день:
                <span id="for_day">{{ total_day|floatformat:-1 }}</span> ₽
                <span>(<span id="for_day_self_price">{{ day_self_price }} ₽</span>)</span>
            </h5>
        </div>

        <table class="orders-table" rules="rows" cellpadding="5">
            <thead>
            <tr>
                <th>№</th>
                <th>Время оплаты</th>
                <th>Время отдачи</th>
                <th>Стоимость</th>
                <th>Себестоимость</th>
                <th>Позиции</th>
                <th>Комментарий</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr id="{{ order.id }}">
                    <th width="50">{{ order.id }}</th>
                    <th width="150">{{ order.created_at }}</th>
                    <th width="150">{{ order.closed_at }}</th>
                    <th width="100" class="order-total">{{ order.total|floatformat:-1 }} ₽</th>
                    <th width="100" class="order-self-price">{{ order.self_price|floatformat:-1 }} ₽</th>
                    <th width="300">
                        {% for order_item in order.order_content %}
                            <div class="order_item_container">
                                <div class="item_color" style="background-color: {{ order_item.color }}"></div>
                                <p id="mod_{{ order_item.id }}">{{ order_item.name }} {% if order_item.count > 1 %}x
                                    {{ order_item.count }}{% endif %}</p>
                            </div>
                        {% endfor %}
                    </th>
                    <th width="300">{{ order.comment }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal ORDER DETAIL -->
    <div class="modal fade" id="order_modal" tabindex="-1" aria-labelledby="order_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="order_modal_label">Заказ №<span id="order_id"></span></h5>
                </div>
                <div class="modal-body">
                    <div class="info_block mbc-12">
                        <div class="time_block">
                            <div id="order_date_modal"></div>
                            <span class="badge bg-secondary rounded-pill" id="time_info"></span>
                        </div>
                    </div>
                    <div class="info_block mbc-12 info_block__cost">
                        <div class="info_block__item">
                            <div id="total_info" class="value"></div>
                            <div class="value-label">Стоимость</div>
                        </div>
                        <div class="info_block__item">
                            <div id="self_price_info" class="value"></div>
                            <div class="value-label">Себестоимость</div>
                        </div>
                    </div>
                    <div class="info_block mbc-12 positions">
                        <div class="content_info"></div>
                    </div>
                    <div class="info_block ai-center mbc-12">
                        <div class="col">
                            <p class="product_stat__label">Отменить заказ</p>
                        </div>
                        <div class="col">
                            <div></div>
                        </div>
                        <div class="col">
                            <button id="cancel_order" type="submit" class="btn btn-secondary-custom btn-block">
                                Отменить
                            </button>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="info_block ai-center">
                            <div class="col">
                                <p class="product_stat__label">Для админа</p>
                            </div>
                            <div class="col">
                                <div></div>
                            </div>
                            <div class="col">
                                <button id="check_logs" type="submit" class="btn btn-black-custom btn-block" id="edit_order"
                                        data-bs-toggle="modal"
                                        data-bs-target="#edit_order_modal">
                                    Редактировать
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal EDIT ORDER -->
    <div class="modal fade" id="edit_order_modal" tabindex="-1" aria-labelledby="edit_order_modal_label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_order_modal_label">Заказ №<span id="order_id"></span> от <span
                            id="order_time"></span></h5>
                </div>
                <form class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="order_id_val" id="order_id_val">
                    <div class="form-group col">
                        <label>Стоимость</label>
                        <input type="number" class="form-control" name="total" id="total">
                    </div>
                    <div class="form-group col">
                        <label>Себестоимость</label>
                        <input type="number" class="form-control" name="self_price" id="self_price">
                    </div>
                    <div class="form-group col">
                        <label>Время отдачи</label>
                        <input type="time" class="form-control" name="closed_at" id="closed_at">
                    </div>
                    <div class="form-inline row modifications">
                        <label>Позиции</label>
                        <div class="content"></div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary-custom" id="save_order" data-bs-dismiss="modal">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block kassa_scripts %}
    <script>
        let mods = {{% for m in modifications %}
                '{{ m.id }}': '{{ m.name }}',{% endfor %}
        }

        function setPrevDate(form) {
            $('input[name=date]').val(getNearDay($('input[name=date]').val(), true));
            form.submit();
        }

        function setNextDate(form) {
            $('input[name=date]').val(getNearDay($('input[name=date]').val()));
            form.submit();
        }

        function getNearDay(date, is_prev = false) {
            let sign = is_prev ? -1 : 1
            let current = new Date(date)
            const near = new Date(current.getTime());
            near.setDate(current.getDate() + sign);

            let m = (near.getMonth() + 1).toString();
            let month = m.length > 1 ? '' : '0'
            let day = near.getDate().toString().length > 1 ? '' : '0'

            return `${near.getFullYear()}-${month + m}-${day + near.getDate()}`
        }

        function getModificationSelect(item_name, selected_id = null, select_name) {
            let ms = ''
            for (let m in mods) {
                if (mods[m].includes(item_name)) {
                    if (selected_id == m) {
                        ms += '<option selected value="' + m + '">' + mods[m] + '</option>'
                    } else {
                        ms += '<option value="' + m + '">' + mods[m] + '</option>'
                    }
                }
            }
            return '<select class="form-control" name="' + select_name + '">' + ms + '</select>'
        }

        function addModificationBlock(item_name, selected_id = null, select_name, count_name, count_value) {
            let block = '<div class="row form-inline order_content">' +
                '<div class="form-group col position_width">' + getModificationSelect(item_name, selected_id, select_name) + '</div>' +
                '<div class="form-group col">' +
                'x <span id="' + count_name + '">' + count_value + '</span>' +
                '</div>' +
                '</div>'

            $('.modifications .content').append(block)
        }

        $('tbody tr').on('click', function () {
            let id = $(this).prop('id')
            $('#order_modal').modal('show')
            $.get('/orders/' + id, function (data) {
                 $('#time_info').text('')
                $('.modifications .content').html('')
                $('#order_time').text(data.created_at)
                $('#order_id').text(id)
                $('#order_id_val').val(id)
                $('#total').val(data.total)
                $('#self_price').val(data.self_price)
                $('#total_info').text(data.total + ' ₽')
                $('#self_price_info').text(data.self_price.toFixed(2) + ' ₽')
                $('#closed_at').val(data.closed_at)
                $('#order_date_modal').text(data.created_at_date)
                $('.content_info').html('')

                if (data.closed_at) {
                    let diff = Math.abs(new Date('2011/10/09 ' + data.closed_at) - new Date('2011/10/09 ' + data.created_at));
                    let minutes = Math.floor((diff / 1000) / 60);

                    let m = ''
                    if (minutes > 4 && minutes < 20) {
                        m = ' минут'
                    } else if (minutes % 10 === 1) {
                        m = ' минута'
                    } else if (minutes % 10 > 1 && minutes % 10 < 5) {
                        m = ' минуты'
                    } else {
                        m = ' минут'
                    }

                    $('#time_info').text('+ ' + minutes + m)
                }

                let content = data.order_content;
                for (let i = 0; i < content.length; i++) {
                    addModificationBlock(content[i].modification.item.name, content[i].modification.id, content[i].id + '_mod', content[i].id + '_count', content[i].count)
                    $('.content_info').append('<div class="flex_space_btw"><span>' + mods[content[i].modification.id] + '</span><span>x ' + content[i].count + '</span></div>')
                }
            })
        })

        $('#save_order').on('click', function () {
            let form = $('form').serializeArray()
            $.ajax({
                url: '/orders/' + $('#order_id_val').val() + '/',
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'PATCH',
                dataType: 'html',
                data: form,
                success: function (response) {
                    for (let i = 0; i < form.length; i++) {
                        if (form[i].name.includes('_mod')) {
                            let name_id = '#mod_' + form[i].name.split('_')[0]
                            let c = +$('#' + form[i].name.split('_')[0] + '_count').text()
                            let count = c > 1 ? ' x ' + c : ''
                            $(name_id).text(mods[form[i].value] + count)
                        }
                    }
                }
            });
        })

    $('#cancel_order').on('click', function () {
        let ans = confirm("Вы действительно хотите удалить заказ?")
        if (ans) {
            let order_id = $('#order_id').text()
            $.ajax({
                url: `orders/${order_id}/cancel_order/`,
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'PATCH',
                dataType: 'html',
                success: function (data) {
                    // можно разобраться с округлением, но необязательно
                    $('#for_day').text(+$('#for_day').text() - +$('#' + order_id + ' .order-total').text().split(' ')[0])
                    $('#for_month').text(+$('#for_month').text() - +$('#' + order_id + ' .order-total').text().split(' ')[0])

                    let price = +$('#' + order_id + ' .order-total').text().split(' ')[0]
                    let self_price = parseFloat($('#' + order_id + ' .order-self-price').text().split(' ')[0])

                    $('#for_day_self_price').text(+$('#for_day_self_price').text().split(' ')[0] - (price - self_price) + ' ₽')
                    $('#for_month_self_price').text(+$('#for_month_self_price').text().split(' ')[0] - (price - self_price) + ' ₽')

                    $('#operation_day').text(+$('#operation_day').text() - 1)
                    $('#operation_month').text(+$('#operation_month').text() - 1)

                    $('#' + order_id).remove()
                    $('#order_modal').modal('hide')
                    alert("Заказ успешно отменен")
                }
            });
        }
    })
    </script>
{% endblock %}

