{% extends 'bases/base_automatization.html' %}

{% block title %}Заказы{% endblock title %}

{% block automatization_style %}
    <style>
        .filter_form_container h5 > span {
            opacity: .4;
        }

        #for_day, #for_month {
            opacity: 1;
        }

        .filter_form {
            display: flex;
            position: relative;
            min-width: 290px;
            margin-bottom: 20px;
        }

        .filter_form h3 {
            white-space: nowrap;
            padding-right: 15px;
            margin: 0;
        }

        .filter_form__header {
            display: flex;
            align-items: center;
        }

        .filter_form_container {
            width: 100%;
            margin: 0px 0px 20px 0px;
            padding: 0px;
        }

        .empty-div {
            height: 30px
        }

        .view_btn {
            margin-left: 15px;
        }

        tbody tr {
            cursor: pointer;
        }

        .orders-table {
            width: 100% !important;
            border-color: #eee;
        }

        .orders-table thead {
            color: #ccc;
        }

        .orders-table th {
            vertical-align: baseline;
            padding: 12px;
        }

        .orders-table tbody tr, .orders-table tbody {
            border-width: 1px;
        }

        .arrow-btn {
            padding: 9px 16px;
        }

        .date-input {
            margin: 0 10px;
            border-width: 1px;
            border-color: black;
        }

        .item_color {
            min-width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #eee;
            margin-right: 8px;
        }

        .order_item_container {
            display: flex;
            align-items: center;
        }

        .order_item_container p {
            margin-bottom: 0;
        }

        .modal-header {
            border-bottom: none;
        }

        .modal-dialog {
            min-width: 600px;
        }

        .modal-body .col {
            margin-bottom: 15px;
        }

        .time_block {
            display: flex;
            align-items: center;
        }

        .info_block {
            display: flex;
            justify-content: space-between;
            padding: 16px;
        }

        .info_block.positions {
            flex-direction: column;
        }

        .info_block__cost {
            justify-content: space-around;
        }

        .ai-center {
            align-items: center;
        }

        .info_block .col {
            margin: 0;
            height: fit-content;
        }

        .info_block .col p {
            margin: 0;
        }

        .info_block__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .parent-container {
            margin: 20px 0;
        }
    </style>
{% endblock %}

{% block automatization_body %}
    <div class="row row-cols-auto row-cols-md-2 g-2 root-container mx-auto parent-container">
        <div class="filter_form_container">
            <form class="filter_form">
                <div class="form-group filter_form__header">
                    <h5 class="w-100">Заказы за </h5>
                    <button class="arrow-btn btn btn-black-custom" onclick="setPrevDate(this.form)"><</button>
                    <input type="date" value="{{ form_day }}" class="form-control input-custom date-input" name="date">
                    <button class="arrow-btn btn btn-black-custom" onclick="setNextDate(this.form)">></button>
                </div>
                <input class="btn btn-black-custom view_btn" type="button" value="Посмотреть"
                       onclick="this.form.submit()">
            </form>
            <div class="empty-div"></div>
            <div></div>
            <p class="font-title-2">За день:
                <span class="font-title-1" id="for_day">{{ total_day|floatformat:-1 }}</span> ₽
                <span class="font-title-2">(<span id="for_day_self_price">{{ day_self_price }} ₽</span>)</span>
                <span class="font-title-2">(<span id="operation_day">{{ operation_day }}</span>)</span>
            </p>
            <p class="font-title-2">За месяц:
                <span class="font-title-1" id="for_month">{{ total_month|floatformat:-1 }}</span> ₽
                <span class="font-title-2">(<span id="for_month_self_price">{{ month_self_price }} ₽</span>)</span>
                <span class="font-title-2">(<span id="operation_month">{{ operation_month }}</span>)</span>
            </p>
        </div>

        <table class="orders-table" rules="rows" cellpadding="5">
            <thead>
            <tr>
                <th class="font-caption-2">№</th>
                <th class="font-caption-2">Время оплаты</th>
                <th class="font-caption-2">Время отдачи</th>
                <th class="font-caption-2">Стоимость</th>
                <th class="font-caption-2">Себестоимость</th>
                <th class="font-caption-2">Позиции</th>
                <th class="font-caption-2">Комментарий</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr id="{{ order.id }}">
                    <th class="font-body-2" width="50">{{ order.id }}</th>
                    <th class="font-body-2" width="150">{{ order.created_at }}</th>
                    <th class="font-body-2" width="150">{{ order.closed_at }}</th>
                    <th width="100" class="order-total font-body-2">{{ order.total|floatformat:-1 }} ₽</th>
                    <th width="100" class="order-self-price font-body-2">{{ order.self_price|floatformat:-1 }} ₽</th>
                    <th class="font-body-2" width="300">
                        {% for order_item in order.order_content %}
                            <div class="order_item_container">
                                <div class="item_color" style="background-color: {{ order_item.color }}"></div>
                                <p id="mod_{{ order_item.id }}">{{ order_item.name }} {% if order_item.count > 1 %}x
                                    {{ order_item.count }}{% endif %}</p>
                            </div>
                        {% endfor %}
                    </th>
                    <th class="font-body-2" width="300">{{ order.comment }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal ORDER DETAIL -->
    <div class="modal fade" id="order_modal" tabindex="-1" aria-labelledby="order_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="order_modal_label">Заказ №<span id="order_id"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="info_block shape-border-small mbc-12">
                        <div class="time_block font-caption-1">
                            <div id="order_date_modal" class="mrc-8"></div>
                            <span class="badge bg-secondary rounded-pill" id="time_info"></span>
                        </div>
                    </div>
                    <div class="info_block shape-border-small mbc-12 info_block__cost">
                        <div class="info_block__item">
                            <h2 id="total_info"></h2>
                            <p class="font-caption-3 opacity-60 mtc-4">Стоимость</p>
                        </div>
                        <div class="info_block__item">
                            <h2 id="self_price_info"></h2>
                            <p class="font-caption-3 opacity-60 mtc-4">Себестоимость</p>
                        </div>
                    </div>
                    <div class="info_block shape-border-small mbc-12 positions">
                        <div class="content_info"></div>
                    </div>
                    <div class="info_block shape-border-small ai-center mbc-12">
                        <div class="col">
                            <p class="product_stat__label">Отменить заказ</p>
                        </div>
                        <div class="col">
                            <div></div>
                        </div>
                        <div class="col">
                            <button id="cancel_order" type="submit" class="btn btn-secondary-custom btn-block">
                                Отменить
                            </button>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="info_block shape-border-small ai-center">
                            <div class="col">
                                <p class="product_stat__label">Для админа</p>
                            </div>
                            <div class="col">
                                <div></div>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-black-custom btn-block" id="edit_order">
                                    Редактировать
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal EDIT ORDER -->
    <div class="modal fade" id="edit_order_modal" tabindex="-1" aria-labelledby="edit_order_modal_label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit_order_modal_label">Заказ №<span id="order_id"></span> от <span
                            id="order_time"></span></h5>
                </div>
                <form class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="order_id_val" id="order_id_val">
                    <div class="form-group col">
                        <label>Стоимость</label>
                        <input type="number" class="form-control" name="total" id="total">
                    </div>
                    <div class="form-group col">
                        <label>Себестоимость</label>
                        <input type="number" class="form-control" name="self_price" id="self_price">
                    </div>
                    <div class="form-group col">
                        <label>Время отдачи</label>
                        <input type="time" class="form-control" name="closed_at" id="closed_at">
                    </div>
                    <div class="form-inline row modifications">
                        <label>Позиции</label>
                        <div class="content"></div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary-custom" id="save_order" data-bs-dismiss="modal">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block automatization_scripts %}
    <script>
        $('#edit_order').on('click', function () {
            $('#edit_order_modal').modal('show')
        })

        let mods = {{% for m in modifications %}
                '{{ m.id }}': '{{ m.name }}',{% endfor %}
        }

        function setPrevDate(form) {
            $('input[name=date]').val(getNearDay($('input[name=date]').val(), true));
            form.submit();
        }

        function setNextDate(form) {
            $('input[name=date]').val(getNearDay($('input[name=date]').val()));
            form.submit();
        }

        function getNearDay(date, is_prev = false) {
            let sign = is_prev ? -1 : 1
            let current = new Date(date)
            const near = new Date(current.getTime());
            near.setDate(current.getDate() + sign);

            let m = (near.getMonth() + 1).toString();
            let month = m.length > 1 ? '' : '0'
            let day = near.getDate().toString().length > 1 ? '' : '0'

            return `${near.getFullYear()}-${month + m}-${day + near.getDate()}`
        }

        function getModificationSelect(item_name, selected_id = null, select_name) {
            let ms = ''
            for (let m in mods) {
                if (mods[m].includes(item_name)) {
                    if (selected_id == m) {
                        ms += '<option selected value="' + m + '">' + mods[m] + '</option>'
                    } else {
                        ms += '<option value="' + m + '">' + mods[m] + '</option>'
                    }
                }
            }
            return '<select class="form-control" name="' + select_name + '">' + ms + '</select>'
        }

        function addModificationBlock(item_name, selected_id = null, select_name, count_name, count_value) {
            let block = '<div class="row form-inline order_content">' +
                '<div class="form-group col position_width">' + getModificationSelect(item_name, selected_id, select_name) + '</div>' +
                '<div class="form-group col">' +
                'x <span id="' + count_name + '">' + count_value + '</span>' +
                '</div>' +
                '</div>'

            $('.modifications .content').append(block)
        }

        $('tbody tr').on('click', function () {
            let id = $(this).prop('id')
            $('#order_modal').modal('show')
            $.get('/orders/' + id, function (data) {
                $('#time_info').text('')
                $('.modifications .content').html('')
                $('#order_time').text(data.created_at)
                $('#order_id').text(id)
                $('#order_id_val').val(id)
                $('#total').val(data.total)
                $('#self_price').val(data.self_price)
                $('#total_info').text(data.total + ' ₽')
                $('#self_price_info').text(data.self_price.toFixed(2) + ' ₽')
                $('#closed_at').val(data.closed_at)
                $('#order_date_modal').text(data.created_at_date)
                $('.content_info').html('')

                if (data.closed_at) {
                    let diff = Math.abs(new Date('2011/10/09 ' + data.closed_at) - new Date('2011/10/09 ' + data.created_at));
                    let minutes = Math.floor((diff / 1000) / 60);

                    let m = ''
                    if (minutes > 4 && minutes < 20) {
                        m = ' минут'
                    } else if (minutes % 10 === 1) {
                        m = ' минута'
                    } else if (minutes % 10 > 1 && minutes % 10 < 5) {
                        m = ' минуты'
                    } else {
                        m = ' минут'
                    }

                    $('#time_info').text('+ ' + minutes + m)
                }

                let content = data.order_content;
                for (let i = 0; i < content.length; i++) {
                    addModificationBlock(content[i].modification.item.name, content[i].modification.id, content[i].id + '_mod', content[i].id + '_count', content[i].count)
                    $('.content_info').append('<div class="flex_space_btw"><span>' + mods[content[i].modification.id] + '</span><span>x ' + content[i].count + '</span></div>')
                }
            })
        })

        $('#save_order').on('click', function () {
            let form = $('form').serializeArray()
            $.ajax({
                url: '/orders/' + $('#order_id_val').val() + '/',
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'PATCH',
                dataType: 'html',
                data: form,
                success: function (response) {
                    for (let i = 0; i < form.length; i++) {
                        if (form[i].name.includes('_mod')) {
                            let name_id = '#mod_' + form[i].name.split('_')[0]
                            let c = +$('#' + form[i].name.split('_')[0] + '_count').text()
                            let count = c > 1 ? ' x ' + c : ''
                            $(name_id).text(mods[form[i].value] + count)
                        }
                    }

                    $('#edit_order_modal').modal('hide');
                    setTimeout(() => {
                        alert('Заказ успешно сохранён');
                    }, 1000);
                }
            });
        })

        $('#cancel_order').on('click', function () {
            let ans = confirm("Вы действительно хотите удалить заказ?")
            if (ans) {
                let order_id = $('#order_id').text()
                $.ajax({
                    url: `orders/${order_id}/cancel_order/`,
                    headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                    type: 'PATCH',
                    dataType: 'html',
                    success: function (data) {
                        // можно разобраться с округлением, но необязательно
                        $('#for_day').text(+$('#for_day').text() - +$('#' + order_id + ' .order-total').text().split(' ')[0])
                        $('#for_month').text(+$('#for_month').text() - +$('#' + order_id + ' .order-total').text().split(' ')[0])

                        let price = +$('#' + order_id + ' .order-total').text().split(' ')[0]
                        let self_price = parseFloat($('#' + order_id + ' .order-self-price').text().split(' ')[0])

                        $('#for_day_self_price').text(+$('#for_day_self_price').text().split(' ')[0] - (price - self_price) + ' ₽')
                        $('#for_month_self_price').text(+$('#for_month_self_price').text().split(' ')[0] - (price - self_price) + ' ₽')

                        $('#operation_day').text(+$('#operation_day').text() - 1)
                        $('#operation_month').text(+$('#operation_month').text() - 1)

                        $('#' + order_id).remove()
                        $('#order_modal').modal('hide')
                        alert("Заказ успешно отменен")
                    }
                });
            }
        })
    </script>
{% endblock %}

