{% extends 'bases/base_automatization.html' %}

{% block title %}Склад{% endblock title %}

{% block automatization_style %}
    <style>
        .products_list {
            width: 100% !important;
            border-color: #eee;
        }

        .products_list thead {
            color: #ccc;
        }

        .products_list tbody tr {
            border-width: 1px;
            cursor: pointer;
        }

        .products_list th {
            font-weight: 300 !important;
            font-size: 14px;
        }

        .recipe th {
            font-weight: 300;
            font-size: 14px;
            padding: 4px 0;
        }

        #product_modal .modal-header {
            border-bottom: none;
        }

        #product_modal {
            min-width: 800px;
        }

        #product_modal button {
            box-shadow: none;
        }

        #prod_withdraw_btn {
            margin: 0 !important;
            font-size: 8px;
            padding: 7px;
            box-shadow: none;
        }

        .forms {
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            padding: 16px;
        }

        .product_stat .col {
            height: min-content !important;
        }

        .forms form {
            margin: 0;
        }

        .col select, .col input {
            font-size: 10px;
        }

        .product_stat {
            display: flex;
            align-items: baseline;
            width: 100%;
            margin: 16px auto 0 auto;
        }

        .values {
            display: flex;
            margin-bottom: 16px;
            justify-content: space-around;
        }

        .values > div {
            padding-right: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .value-num {
            font-weight: 700;
        }

        .value-label {
            opacity: .6;
            font-size: 10px;
        }

        .modal-title, .count, .cost {
            color: black;
        }

        .search-container {
            display: flex;
        }

        .product_stat__label {
            margin-bottom: 0;
            font-size: 14px;
        }

        .products-container {
            width: 60%;
            margin-right: 20px;
            --mdb-gutter-x: 0;
        }

        .item-window-container {
            width: 40%;
            padding: 20px 0 20px 20px;
            height: 85vh;
            overflow: scroll;
            position: sticky !important;
            top: 20px;
        }

        .main-products-container {
            display: flex;
            justify-content: space-between;
        }

        .item-window-container .recipe {
            margin-bottom: 16px;
        }

        .empty-message-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .create-product-card {

        }

        .product-recipe-item, .product-row-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #add-recipe-btn {
            padding: 4px;
        }

        .custom-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #save-product-btn, #edit-product-btn {
            box-shadow: none;
            width: 100%;
            height: auto;
            padding: 8px;
        }

        .delete-recipe-btn {
            width: 23px;
            font-size: 10px;
        }

        .form-control {
            border-radius: 0.5em;
            line-height: 2.5 !important;
        }

        .recipe-header-container {
            justify-content: space-between;
            align-items: center;
            display: flex;
        }

        .details-br {
            border-left: 1px solid #eee;
        }

        .details-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
        }
    </style>
{% endblock %}

{% block automatization_body %}
    <div class="main-products-container root-container mx-auto">
        <div class="products-container">
            <span class="search-container mbc-20 mtc-20 mx-auto">
                <input id="search" class="form-control input-custom-large mrc-20 w-100" type="search" placeholder="Поиск продукта" aria-label="Search"
                       onkeyup="search($(this).val())">
                <button type="button" id="add-btn" class="btn btn-secondary-custom clear-search-btn" style="width: 120px;"><i class="fa-solid fa-plus" style="margin-right: 4px"></i></button>
            </span>
            <div class="category-input-container">
                <select class="form-control col" id="category-filter" name="category-filter" onchange="filter_products($(this).val())">
                    <option value="-1">Категория</option>
                    {% for cat in categories %}
                        <option {% if category == cat.id %}selected{% endif %} value="{{ cat.id }}">{{ cat.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <table class="products_list" rules="rows" cellpadding="12">
                <thead>
                <tr>
                    <th class="font-caption-2">Позиция</th>
                    <th class="font-caption-2">Категория</th>
                    <th class="font-caption-2">Остаток</th>
                    <th class="font-caption-2">Себестоимость</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {% for product in products %}
                    <tr class="product_item" id="{{ product.id }}">
                        <th class="product_name font-body-2" width="100">{{ product.name }}</th>
                        <th class="font-body-2" width="100">{{ product.tag.name }}</th>
                        <th class="font-body-2" width="100" style="{% if product.count <= 0 %}color: red;{% endif %}">{{ product.count_measure }}</th>
                        <th class="font-body-2" width="100" class="{% if product.average_cost <= 0 %}red{% endif %}">{{ product.average_cost|floatformat:2 }} ₽</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="item-window-container details-br empty-item-card">
            <div class="empty-message-container">
                <p class="font-title-2 opacity-60">Выберите продукт</p>
            </div>
        </div>
        <div class="item-window-container details-br item-card d-none">
            <div class="modal-header details-header">
                <h4 class="modal-title" id="product_modal_label"></h4>
                <button type="button" class="btn-close btn-card-close"></button>
            </div>
            <div class="modal-body">
                <div class="values pc-16 shape-border-small">
                    <div class="count">
                        <div id="modal_count" class="value-num"></div>
                        <div class="value-label">Остаток</div>
                    </div>
                    <div class="product_size">
                        <div id="modal_size" class="value-num"></div>
                        <div class="value-label">Размер порции</div>
                    </div>
                    <div class="cost">
                        <div id="modal_cost" class="value-num"></div>
                        <div class="value-label">За единицу</div>
                    </div>
                </div>
                <div class="recipe pc-16 shape-border-small" id="recipe"></div>
                <div class="forms pc-16 shape-border-small">
                    <form id="product_form" method="post">
                        {% csrf_token %}
                        <div class="custom-row">
                            <div class="w-30">
                                    <input type="text" id="withdraw_product_volume" name="product_volume"
                                           class="form-control input-custom-extra-small" placeholder="Объем (мл/г/шт)" required>
                            </div>
                            <div class="form-group w-36">
                                <select class="form-control input-custom-extra-small" id="type" name="product_reason" required>
                                    <option selected disabled>Причина</option>
                                    {% for reason in reasons %}
                                        <option value="{{ reason.0 }}">{{ reason.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="w-30">
                                <button type="submit" id="prod_withdraw_btn" class="btn btn-black-custom btn-block mbc-16 disabled input-custom-extra-small">Списать</button>
                            </div>
                        </div>
                        <input type="hidden" name="product_id">
                        <input type="hidden" name="action" value="withdrawal">
                    </form>
                </div>
                <div class="product_stat pc-16 shape-border-small mbc-12">
                    <div class="col">
                        <p class="product_stat__label">История изменений</p>
                    </div>
                    <div class="col">
                        <button id="check_logs" type="submit" class="btn btn-secondary-custom btn-block"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div>
                    <button id="edit-product-btn" type="button" class="btn btn-light-custom bsh-none w-100 form-control">Редактировать</button>
                </div>
            </div>
        </div>
        <div class="item-window-container details-br create-product-card d-none">
            <div class="modal-header details-header">
                <h4 class="modal-title" id="">Создать продукт</h4>
                <button type="button" class="btn-close btn-close-adding"></button>
            </div>
            <form class="create-product-form modal-body">
                {% csrf_token %}
                <div class="product-row-group mbc-8">
                    <div class="form-group w-74">
                        <input name="product-name" class="form-control form-control-sm input-custom-small" type="text" placeholder="Название">
                    </div>
                    <div class="form-group w-24">
                        <select name="product-measure" class="form-control form-control-sm input-custom-small">
                            <option selected disabled>Ед. изм.</option>
                            {% for measure in measures %}
                                <option value="{{ measure.id }}">{{ measure.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="product-row-group mbc-16">
                    <div class="form-group w-49">
                        <input name="product-short_name" class="form-control form-control-sm input-custom-small" type="text" placeholder="Краткое название">
                    </div>
                    <div class="form-group w-49">
                        <select name="product-tag" class="form-control form-control-sm input-custom-small">
                            <option selected disabled>Тэг</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="pc-16 shape-border-small mbc-16">
                    <div class="recipe-header-container">
                        <p class="form-check-label font-title-3 recipe-label">Рецепт</p>
                        <div class="form-check form-switch">
                            <input name="is_billet" class="form-check-input" type="checkbox" id="create_is_billet">
                        </div>
                    </div>
                    <div class="product-billet-weight d-none mtc-8">
                        <div class="form-group mbc-8">
                            <input name="product-weight" class="form-control form-control-sm input-custom-small" type="text" placeholder="Вес одной порции заготовки">
                        </div>
                    </div>
                    <div class="product-recipes d-none mbc-8">
                        <div id="recipe_0" class="product-recipe-item mbc-8">
                            <div class="form-group w-70">
                                <select name="recipe-product_id_0" class="form-control form-control-sm input-custom-small">
                                    <option selected disabled>Продукт</option>
                                    {% for product in products %}
                                        <option value="{{ product.id }}">{{ product.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group w-22">
                                <input name="recipe-count_0" class="form-control form-control-sm input-custom-small" type="text" placeholder="Кол-во">
                            </div>
                            <div class="form-group w-6">
                                <button type="button" class="btn-close delete-recipe-btn d-none" onclick="delete_recipe_item(0)"></button>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="add-recipe-btn w-100" class="btn btn-light-custom form-control d-none" onclick="add_recipe_form_item()">Добавить ингредиент</button>
                </div>
                <div>
                    <button type="button" id="save-product-btn" class="btn btn-black-custom w-100 form-control" onclick="create_product()">Сохранить</button>
                </div>
            </form>
        </div>
        <div class="item-window-container details-br edit-product-card d-none">
            <div class="modal-header details-header">
                <h4 class="modal-title" id="">Редактировать продукт</h4>
                <button type="button" class="btn-close btn-close-editing"></button>
            </div>
            <form class="edit-product-form modal-body">
                {% csrf_token %}
                <div class="product-row-group mbc-8">
                    <div class="form-group w-74">
                        <input name="product-name" class="form-control form-control-sm input-custom-small" type="text" placeholder="Название">
                    </div>
                    <div class="form-group w-24">
                        <select name="product-measure" class="form-control form-control-sm input-custom-small">
                            <option selected disabled>Ед. изм.</option>
                            {% for measure in measures %}
                                <option value="{{ measure.id }}">{{ measure.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="product-row-group mbc-16">
                    <div class="form-group w-49">
                        <input name="product-short_name" class="form-control form-control-sm input-custom-small" type="text" placeholder="Краткое название">
                    </div>
                    <div class="form-group w-49">
                        <select name="product-tag" class="form-control form-control-sm input-custom-small">
                            <option selected disabled>Тэг</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="pc-16 shape-border-small mbc-16">
                    <div class="recipe-header-container">
                        <p class="form-check-label font-title-3 recipe-label">Рецепт</p>
                        <div class="form-check form-switch">
                            <input name="is_billet" class="form-check-input" type="checkbox" id="edit_is_billet">
                        </div>
                    </div>
                    <div class="product-billet-weight d-none mtc-8">
                        <div class="form-group mbc-8">
                            <input name="product-weight" class="form-control form-control-sm input-custom-small" type="text" placeholder="Вес одной порции заготовки">
                        </div>
                    </div>
                    <div class="product-recipes d-none mbc-8"></div>
                    <button type="button" id="add-edit-recipe-btn" class="btn btn-light-custom form-control d-none" onclick="add_recipe_form_item('.edit-product-form')">Добавить ингредиент</button>
                </div>
                <div>
                    <button type="button" id="edit-product-btn" class="btn btn-black-custom w-100 form-control" onclick="edit_product()">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block automatization_scripts %}
    <script>
        function filter_products(val) {
            let searchParams = new URLSearchParams(window.location.search)
            searchParams.set('category', val)

            let sym = searchParams.toString().length === 0 ? "&" : "?"
            document.location = document.location.origin + document.location.pathname + '?' + searchParams.toString()
        }
    </script>
    <script>
        $('#create_is_billet').on('change', function () {
            if ($('#create_is_billet').prop('checked')) {
                $('.create-product-form .product-billet-weight').removeClass('d-none')
                $('.create-product-form .product-recipes').removeClass('d-none')
                $('.create-product-form #add-recipe-btn').removeClass('d-none')
            } else {
                $('.create-product-form .product-billet-weight').addClass('d-none')
                $('.create-product-form .product-recipes').addClass('d-none')
                $('.create-product-form #add-recipe-btn').addClass('d-none')
            }
        })

        $('#edit_is_billet').on('change', function () {
            if ($('#edit_is_billet').prop('checked')) {
                $('.edit-product-form .product-billet-weight').removeClass('d-none')
                $('.edit-product-form .product-recipes').removeClass('d-none')
                $('.edit-product-form #add-edit-recipe-btn').removeClass('d-none')
            } else {
                $('.edit-product-form .product-billet-weight').addClass('d-none')
                $('.edit-product-form .product-recipes').addClass('d-none')
                $('.edit-product-form #add-edit-recipe-btn').addClass('d-none')
            }
        })

        function check_form_inputs() {
            if (![null, -1].includes($('#type').val()) && $('#withdraw_product_volume').val() != '') {
                if ($('#prod_withdraw_btn').hasClass('disabled')) {
                    $('#prod_withdraw_btn').removeClass('disabled')
                }
            } else if (!$('#prod_withdraw_btn').hasClass('disabled')) {
                $('#prod_withdraw_btn').addClass('disabled')
            }
        }

        $('#type').on('change', function() {
            check_form_inputs()
        })

        $('#withdraw_product_volume').on('keyup', function() {
            check_form_inputs()
        })

        function showAll(class_name=null) {
            let cards = $('.product_item');
            for (let i = 0; i < cards.length; i++) {
                $(`#${cards[i].id}`).show()
            }
        }

        function clearSearchField() {
            $('#search').val('')
            showAll()
        }

        function search(value) {
            if (value === "") {
                showAll()
            } else {
                let cards = $('.product_item');
                let val = value.toLowerCase()
                for (let i = 0; i < cards.length; i++) {
                    let card_id = `#${cards[i].id}`;
                    if ($(`${card_id} .product_name`).text().toLowerCase().includes(val)) {
                        $(card_id).show()
                    } else {
                        $(card_id).hide()
                    }
                }
            }
        }

        $('#prod_withdraw_btn').on('click', function() {
            $(this).addClass('disabled')
        })
    </script>
    <script>
        let products = {};
        let product;
        {% for product in products %}
        products[{{ product.id }}] = {
            id: {{ product.id }},
            name: '{{ product.name }}',
            count: '{{ product.count_measure }}',
            cost: '{{ product.average_cost|floatformat:2 }} ₽',
            ratio: '{{ product.ratio }}',
            type: '{{ product.type }}',
            short_name: '{{ product.short_name }}',
            measure: {id: {{ product.measure.id }}, name: '{{ product.measure.name }}'},
            weight: {% if product.weight %}{{ product.weight }}{% else %}null{% endif %},
            tag: {{ product.tag.id }},
            recipe: [
                {% for r in product.recipe %}
                    {product: {id: '{{ r.product.id }}', name: '{{ r.product.name }}'}, count: '{{ r.count }}', average_price: '{{ r.average_price }}', tag: '{{ r.product_tag }}'},
                {% endfor %}
            ]
        }
        {% endfor %}
        $('.product_item').on('click', function () {
            $('.empty-item-card').addClass('d-none')
            $('.item-card').removeClass('d-none')
            $('.create-product-card').addClass('d-none')
            $('.edit-product-card').addClass('d-none')
            product = products[this.id]
            $('#withdraw_product_volume').prop('placeholder', 'Объем (' + product.measure.name + ')')
            if (products[this.id].recipe.length > 0) {
                let recipe_items = ''
                let recipes = products[this.id].recipe
                let count = 0
                for(let i = 0; i < recipes.length; i++) {
                    recipe_items += `<tr>` +
                                    `    <th class="font-body-2" width="300">${recipes[i].product.name}</th>` +
                                    `    <th class="font-body-2" width="100">${recipes[i].count}</th>` +
                                    `    <th class="font-body-2" width="100">${recipes[i].average_price} ₽</th>` +
                                    `</tr>`
                    count += parseFloat(recipes[i].average_price)
                }

                let recipe_container = '' +
                    '<div class="recipe-container">' +
                    '   <p class="modal_recipe mbc-16 font-title-3">Рецепт</p>' +
                    '   <table class="recipe_table" rules="rows" cellpadding="0">' +
                    '       <tbody>' + recipe_items +
                    '           <tr>' +
                    '               <th width="300"></th>' +
                    '               <th class="font-body-2-bold" width="100">Итог</th>' +
                    '               <th class="font-body-2-bold" width="100">' + count + ' ₽</th>' +
                    '           </tr>' +
                    '       </tbody>' +
                    '   </table>' +
                    '</div>'
                $('#recipe').html(recipe_container)
                $('#recipe').removeClass('d-none')
            } else {
                $('#recipe').html('')
                $('#recipe').addClass('d-none')
            }

            $('#product_modal_label').text(products[this.id].name)
            $('input[name=product_id]').val(this.id)
            $('#modal_count').text(products[this.id].count)
            $('#modal_cost').text(products[this.id].cost)
            if (products[this.id].type === '2') {
                $('#modal_size').text(products[this.id].weight + " " + products[this.id].measure.name)
                $('.product_size').css('display', 'flex')
            } else {
                $('.product_size').css('display', 'none')
            }

            $('#check_logs').attr('onclick', `location.href = "/products_log?item=${this.id}"`)
        })
    </script>
    <script>
        $('.btn-card-close').on('click', function() {
            $('.empty-item-card').removeClass('d-none')
            $('.item-card').addClass('d-none')
            $('.edit-product-card').addClass('d-none')
        })

        $('.btn-close-adding').on('click', function() {
            $('.empty-item-card').removeClass('d-none')
            $('.create-product-card').addClass('d-none')
            $('.item-card').addClass('d-none')
            $('.edit-product-card').addClass('d-none')
        })

        $('.btn-close-editing').on('click', function() {
            $('.empty-item-card').removeClass('d-none')
            $('.create-product-card').addClass('d-none')
            $('.item-card').addClass('d-none')
            $('.edit-product-card').addClass('d-none')
        })

        $('#add-btn').on('click', function() {
            $('.empty-item-card').addClass('d-none')
            $('.create-product-card').removeClass('d-none')
            $('.item-card').addClass('d-none')
            $('.edit-product-card').addClass('d-none')
        })

        $('#edit-product-btn').on('click', function() {
            $('.empty-item-card').addClass('d-none')
            $('.create-product-card').addClass('d-none')
            $('.item-card').addClass('d-none')
            $('.edit-product-card').removeClass('d-none')

            $('.edit-product-form input[name=product-name]').val(product.name)
            $('.edit-product-form select[name=product-measure]').val(product.measure.id)
            $('.edit-product-form input[name=product-short_name]').val(product.short_name)
            $('.edit-product-form select[name=product-tag]').val(product.tag)
            $('.edit-product-form .product-recipes').html('')

            if (product.recipe.length > 0) {
                $('.edit-product-form input[name=is_billet]').prop('checked', true)
                $('.edit-product-form .product-billet-weight').removeClass('d-none')
                $('.edit-product-form .product-billet-weight input').val(product.weight)
                $('.edit-product-form .product-recipes').removeClass('d-none')
                $('#add-edit-recipe-btn').removeClass('d-none')

                for (let i = 0; i < product.recipe.length; i++) {
                    add_recipe_form_item('.edit-product-form')
                    if (product.recipe[i].tag.length > 0) {
                        $('.edit-product-form select[name=recipe-tag_id_' + (recipe_count - 1)  + ']').val(product.recipe[i].tag)
                    }

                    $('.edit-product-form input[name=recipe-count_' + (recipe_count - 1)  + ']').val(product.recipe[i].count)
                    $('.edit-product-form select[name=recipe-product_id_' + (recipe_count - 1)  + ']').val(product.recipe[i].product.id)

                }

            } else {
                $('.edit-product-form input[name=is_billet]').prop('checked', false)
                $('.edit-product-form .product-billet-weight').addClass('d-none')
                $('.edit-product-form .product-billet-weight input').val(null)
                $('.edit-product-form .product-recipes').addClass('d-none')
                $('#add-edit-recipe-btn').addClass('d-none')
            }
        })

        let recipe_count = 1
        function add_recipe_form_item(form_class = '.create-product-form') {
            $(form_class + ' .delete-recipe-btn').removeClass('d-none')
            $(form_class + ' .product-recipes').append(get_recipe_form_item(recipe_count))
            recipe_count++
        }

        function delete_recipe_item(item_id) {
            $('#recipe_' + item_id).remove()
            if ($('.product-recipes').children().length < 2) {
                $('.delete-recipe-btn').addClass('d-none')
            }
        }

        function get_recipe_form_item(item_id) {
            return '<div id="recipe_' + item_id + '" class="product-recipe-item mbc-8">' +
                        '<div class="form-group w-70">' +
                            '<select name="recipe-product_id_' + item_id + '" class="form-control form-control-sm input-custom-small">' +
                                '<option selected disabled>Продукт</option>' +
                                {% for product in products %}
                                    '<option value="{{ product.id }}">{{ product.name }}</option>' +
                                {% endfor %}
                            '</select>' +
                        '</div>' +
                        '<div class="form-group w-22">' +
                            '<input name="recipe-count_' + item_id + '" class="form-control form-control-sm input-custom-small" type="text" placeholder="Кол-во">' +
                        '</div>' +
                        '<div class="form-group w-6">' +
                            '<button type="button" class="btn-close delete-recipe-btn" onclick="delete_recipe_item(' + item_id + ')"></button>' +
                        '</div>' +
                    '</div>'
        }

        function create_product() {
            let form = $('.create-product-form').serializeArray()
            {#form.push()#}
            {#let post_data = {csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()}#}
            $.post('/products-api/', form, function(response) {
                alert("Продукт успешно сохранён")
                location.reload();
            })
        }
    </script>
    <script>
        function cleanForms() {
            $('select').val(null).trigger("change");
            $(':input', 'form')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .prop('checked', false)
                .prop('selected', false);
        }

        function edit_product() {
            let form = $('.edit-product-form').serializeArray();
            $.ajax({
                url: '/products-api/' + product.id + '/',
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                type: 'PATCH',
                dataType: 'html',
                data: form,
                success: function (response) {
                    alert("Продукт успешно сохранён")
                    location.reload();
                }
            });
        }
    </script>
{% endblock %}