{% extends 'bases/base_automatization.html' %}

{% block title %}Логирование склада{% endblock title %}

{% block automatization_style %}
    <style>
        table {
            width: 100% !important;
            border-color: #eee;
            margin-top: 20px !important;
        }

        table th {
            padding: 12px;
        }

        table thead {
            color: #ccc;
        }

        table tbody tr {
            border-width: 1px;
        }

        .row {
            align-items: end;
        }

        .paging {
            display: flex;
            align-items: center;
            margin: 0 10px;
        }

        .row .form-inline {
            width: 50%;
            padding: 0;
        }

        .pagination {
            margin-bottom: 0;
            width: 130px;
        }
    </style>
{% endblock %}

{% block automatization_body %}
    <div class="row row-cols-auto row-cols-md-2 root-container mx-auto mtc-20 mbc-20">
        <div class="row form-inline">
            <div class="form-group col">
                <select class="form-control input-custom-small col" id="product_name" name="product_name"
                        onchange="filter_log('item', $(this).val())">
                    <option value="-1">Продукт</option>
                    {% for it in items %}
                        <option {% if item == it.id %}selected{% endif %} value="{{ it.id }}">{{ it.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col">
                <select class="form-control input-custom-small col" id="action_name" name="action_name"
                        onchange="filter_log('action', $(this).val())">
                    <option value="-1">Причина</option>
                    {% for key, value in actions.items %}
                        <option {% if action == key %}selected{% endif %} value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>

            <nav class="form-group col">
                <ul class="pagination">
                    <li class="page-item {% if not prev %}hidden{% endif %}">
                        <a class="page-link" id="prev_page" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item paging">{{ page }} из {{ num_pages }}</li>
                    <li class="page-item {% if not next %}hidden{% endif %}">
                        <a class="page-link" id="next_page" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <table rules="rows" cellpadding="5">
            <thead>
            <tr>
                <th class="font-caption-2">Дата и время</th>
                <th class="font-caption-2">Причина</th>
                <th class="font-caption-2">Продукт</th>
                <th class="font-caption-2">Объём</th>
                <th class="font-caption-2">Стоимость</th>
                <th class="font-caption-2">Комментарий</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {% for log in logs %}
                <tr>
                    <th class="font-body-2-thin" width="200">{{ log.created_at }}</th>
                    <th class="font-body-2" width="100">{{ log.action }}</th>
                    <th class="font-body-2" width="300">{{ log.name }}</th>
                    <th class="font-body-2" width="100">{{ log.volume }}</th>
                    <th class="font-body-2" width="200">{{ log.cost }} ₽</th>
                    <th class="font-body-2" width="300">{{ log.reason }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block automatization_scripts %}
    <script>
        $('#next_page').prop('href', getNextPage())
        $('#prev_page').prop('href', getPrevPage())

        function filter_log(key, val) {
            let searchParams = new URLSearchParams(window.location.search)
            if (searchParams.has('page')) {
                searchParams.delete('page')
            }

            searchParams.set(key, val)

            let sym = searchParams.toString().length === 0 ? "&" : "?"
            document.location = document.location.origin + document.location.pathname + sym + searchParams.toString()
        }

        function getNextPage() {
            let searchParams = new URLSearchParams(window.location.search)
            let num_pages = +{{ num_pages }};
            let sym = searchParams.toString().length === 0 ? "&" : "?"
            let path = document.location.origin + document.location.pathname + sym
            if (searchParams.has('page') && +searchParams.get('page') < num_pages) {
                searchParams.set('page', (+searchParams.get('page') + 1).toString())
                return path + searchParams.toString()
            } else if (!searchParams.has('page')) {
                searchParams.set('page', '2')
                return path + searchParams.toString()
            }

            return ""
        }

        function getPrevPage() {
            let searchParams = new URLSearchParams(window.location.search)
            let sym = searchParams.toString().length === 0 ? "&" : "?"
            let path = document.location.origin + document.location.pathname + sym
            if (searchParams.has('page') && +searchParams.get('page') > 1) {
                searchParams.set('page', (+searchParams.get('page') - 1).toString())
                return path + searchParams.toString()
            }

            return ""
        }

    </script>
{% endblock %}
