{% extends 'bases/base_automatization.html' %}

{% block title %}Инвентаризация{% endblock title %}

{% block automatization_style %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="../static/css/select2.css" rel="stylesheet">
    <style>
        .buttons {
            display: flex;
            justify-content: end;
            margin-top: 10px;
            min-width: 190px;
        }

        .forms > div {
            align-items: baseline;
        }
    </style>
{% endblock %}

{% block automatization_body %}
    <div class="row row-cols-auto row-cols-md-1 g-2 products-container root-container mx-auto">
        <div class="raw mtc-20">
            <form method="post" class="forms">
                {% csrf_token %}
                {% for category in categories %}
                    <h3 class="category-header mtc-20 mbc-12">{{ category.name }}</h3>
                    {% for product in category.products %}
                        <div class="row form-inline w-100 m-0 mbc-20">
                            <div class="pc-0 mbc-12 col">
                                <p class="font-body-2">{{ product.name }}</p>
                            </div>
                            <div class="pc-0 mbc-12 col">
                                <p class="font-body-2">Остаток: <span class="font-body-2-bold" style="{% if product.count < 0 %}color: red;{% endif %}">{{ product.count_measure }}</span></p>
                            </div>
                            <div class="pc-0 mbc-12 col">
                                <input type="number" class="input-custom form-control" name="{{ product.id }}"
                                       placeholder="Фактический остаток" required>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </form>
        </div>
        <div class="mbc-20">
            <div class="buttons">
                <button id="save_form_btn" class="btn btn-primary-custom" onclick="save_form()">Сохранить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block automatization_scripts %}
    <script>
        function save_form() {
            $('#save_form_btn').addClass('disabled')
            let form = $('.raw form').serializeArray()

            form.push({
                'name': 'date',
                'value': $('input[name=date]').val()
            })

            $.post('/revision_create', form, function (data) {
                location.href = '/products'
            })
        }
    </script>
{% endblock %}

