{% extends 'bases/base_automatization.html' %}

{% block title %}История поставок{% endblock title %}

{% block automatization_style %}
    <style>
        button[type=submit] {
            height: 38px;
            margin-bottom: 10px;
        }

        button.btn {
            box-shadow: none;
        }

        tr th span {
            cursor: pointer;
        }

        .datepicker {
            display: flex;
            width: 250px;
            justify-content: space-between;
            align-items: center;
        }

        .expenses-table {
            border-color: #eee;
            margin-top: 20px !important;
        }

        .expenses-table th {
            padding: 12px;
        }

        .expenses-table thead {
            color: #ccc;
        }

        .expenses-table tbody tr {
            border-width: 1px;
        }

        .arrow-btn {
            padding: 9px 15px;
        }

        .expenses-header {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .expenses-header form {
            border: 1px solid #ccc;
            border-radius: .5rem;
            margin: 0;
            width: 100% !important;
            padding: 10px 20px 10px 10px;
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
        }
    </style>
{% endblock %}

{% block automatization_body %}
    <div class="row row-cols-auto row-cols-md-1 g-2 mtc-20 root-container mx-auto">
        <div class="expenses-header">
            <div class="datepicker">
                <div>
                    <button class="arrow-btn btn btn-black-custom"
                            onclick="location.href = '/supplies?month={{ month|add:"-1" }}&year={{ year }}'"><
                    </button>
                </div>
                <div class="font-title-1">{{ date }}</div>
                <div>
                    <button class="arrow-btn btn btn-black-custom"
                            onclick="location.href = '/supplies?month={{ month|add:"1" }}&year={{ year }}'">>
                    </button>
                </div>
            </div>
            <div class="buttons mc-0">
            <button type="button" class="btn btn-secondary clear-search-btn" style="width: 180px;" onclick="location.href = '/supplies_create'"><i class="fa-solid fa-plus" style="margin-right: 4px"></i> Поставка</button>
            </div>
        </div>
        {% if open_expenses %}
            <table class="expenses-table" rules="rows" cellpadding="5">
                {% csrf_token %}
                <thead>
                <tr>
                    <th class="font-caption-2">Тип</th>
                    <th class="font-caption-2">Комментарий</th>
                    <th class="font-caption-2">Стоимость</th>
                    <th class="font-caption-2">Доставка</th>
                    <th class="font-caption-2">Дата оплаты</th>
                    <th class="font-caption-2">Дата получения</th>
                </tr>
                </thead>
                <tbody>
                {% for expense in open_expenses %}
                    <tr>
                        <th class="font-body-2" width="150">{{ expense.type }}</th>
                        <th class="font-body-2" width="400">{{ expense.description }}</th>
                        <th class="font-body-2" width="150">{{ expense.cost }} ₽</th>
                        <th class="font-body-2" width="150">{{ expense.delivery_cost }} ₽</th>
                        <th class="font-body-2" width="150">{{ expense.payment_date }}</th>
                        <th class="font-body-2" width="150">
                            <button id="{{ expense.id }}" class="btn btn-primary-custom" onclick="mark_as_received(this.id)">
                                Получить
                            </button>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <table class="expenses-table mtc-12" rules="rows" cellpadding="5">
            <thead>
            <tr>
                <th class="font-caption-2">Тип</th>
                <th class="font-caption-2">Комментарий</th>
                <th class="font-caption-2">Стоимость</th>
                <th class="font-caption-2">Доставка</th>
                <th class="font-caption-2">Дата оплаты</th>
                <th class="font-caption-2">Дата получения</th>
            </tr>
            </thead>
            <tbody>
            {% for expense in expenses %}
                <tr>
                    <th class="font-body-2" width="150">{{ expense.type }}</th>
                    <th class="font-body-2" width="400">{{ expense.description }}</th>
                    <th class="font-body-2" width="150">{{ expense.cost }} ₽</th>
                    <th class="font-body-2" width="150">{{ expense.delivery_cost }} ₽</th>
                    <th class="font-body-2" width="150">{{ expense.payment_date }}</th>
                    <th class="font-body-2" width="150">{{ expense.getting_date }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block automatization_scripts %}
    <script>
        function mark_as_received(expense_id) {
            let post_data = {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'pk': expense_id
            }

            $.post('expenses/mark_as_received/', post_data, function (data) {
                let btn = $('#' + expense_id)
                btn.addClass('disabled')
                btn.addClass('btn-secondary')
                btn.text('Получено')
            })
        }
    </script>
{% endblock %}
