{% extends 'bases/base_automatization.html' %}

{% block title %}Новая поставка{% endblock title %}

{% block automatization_style %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="../static/css/select2.css" rel="stylesheet">
    <style>
        .buttons {
            display: flex;
            justify-content: end;
            min-width: 190px;
        }

        #add {
            margin-right: 10px;
        }

        .expenses-header form {
            border-radius: .5rem;
            margin: 0;
            width: 100% !important;
            padding: 10px 20px 10px 10px;
        }

        .forms > div {
            margin-bottom: 20px;
        }

        .forms-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 20px;
            z-index: 100000;
        }

        .header-select {
            width: 65%;
            margin: 0;
        }

        .supply_type {
            width: 25%;
        }

        .supply_metadata {
            padding: 20px;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block automatization_body %}
    <div class="root-container mx-auto">
        <div class="forms-header">
            <div class="header-select row">
                <select class="form-select supply_type input-custom" onchange="check_forms()">
                    {% for type in supply_types %}
                        <option {% if type.0 == 2 %}selected{% endif %} value="{{ type.0 }}">{{ type.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="buttons">
                <button id="add" type="button" class="btn btn-black-custom" onclick="addNewSupplyForm()"><i
                        class="fa-solid fa-plus" style="font-size: 15px;"></i></button>
                <button id="save_form_btn" class="btn btn-primary-custom" onclick="save_form()">Сохранить</button>
            </div>
        </div>
        <form id="supply_meta" class="supply_metadata shape-border-large">
            <div class="row mbc-20">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label font-caption-1" for="payment_date">Дата оплаты</label>
                        <input type="date" id="payment_date" name="payment_date" class="form-control input-custom-small"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label font-caption-1" for="payment_date">Дата получения</label>
                        <input type="date" id="getting_date" name="getting_date" class="form-control input-custom-small"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label font-caption-1" for="provider">Поставщик</label>
                        <select id="provider" class="form-control input-custom-small" name="product_provider">
                            <option disabled selected>--</option>
                            {% for provider in providers %}
                                <option value="{{ provider.id }}">{{ provider.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-label font-caption-1" for="delivery_cost">Стоимость доставки</label>
                        <input type="number" id="delivery_cost" class="form-control input-custom-small"/>
                    </div>
                </div>
            </div>
        </form>
        {% csrf_token %}
        <div class="raw mtc-12">
            <form method="post" class="forms">
                {% csrf_token %}
                <input type="hidden" name="action" value="raw">
                <div class="row form-inline w-100">
                    <div class="form-group col">
                        <select id="list-1" class="form-control" name="1_name">
                            <option selected>Продукт</option>
                            {% for product in products %}
                                <option value="{{ product.id }}">{{ product.name_measure }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col">
                        <input type="number" class="form-control input-custom" name="1_volume"
                               placeholder="Объем (мл/г/шт)" required>
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control input-custom" name="1_cost"
                               placeholder="Стоимость" required>
                    </div>
                </div>
            </form>
        </div>
        <div class="other mtc-12">
            <form method="post">
                {% csrf_token %}
                <div class="other_form">
                    <input type="hidden" name="action" value="other">
                    <div class="row form-inline">
                        <div class="form-group col">
                            <h4>Сырьё</h4>
                        </div>
                        <div class="form-group col">
                            <input type="text" class="form-control input-custom" name="2_description" placeholder="Комментарий">
                        </div>
                        <div class="form-group col">
                            <input type="number" class="form-control input-custom" name="2_cost" placeholder="Сумма">
                        </div>
                    </div>
                </div>
                <div class="other_form">
                    <input type="hidden" name="action" value="other">
                    <div class="row form-inline">
                        <div class="form-group col">
                            <h4>Расходники</h4>
                        </div>
                        <div class="form-group col">
                            <input type="text" class="form-control input-custom" name="1_description" placeholder="Комментарий">
                        </div>
                        <div class="form-group col">
                            <input type="number" class="form-control input-custom" name="1_cost" placeholder="Сумма">
                        </div>
                    </div>
                </div>
                <div class="other_form">
                    <input type="hidden" name="action" value="other">
                    <div class="row form-inline">
                        <div class="form-group col">
                            <h4>Служебка</h4>
                        </div>
                        <div class="form-group col">
                            <input type="text" class="form-control input-custom" name="3_description" placeholder="Комментарий">
                        </div>
                        <div class="form-group col">
                            <input type="number" class="form-control input-custom" name="3_cost" placeholder="Сумма">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block automatization_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        check_forms()

        function check_forms() {
            if ($('.supply_type').val() === '2') {
                $('.other').hide()
                $('.raw').show()
                $('#add').show()
            } else {
                $('.raw').hide()
                $('#add').hide()
                $('.other').show()
            }
        }

        function setSelectSearch(name) {
            $(name).select2({
                placeholder: "Выберите продукт",
                maximumSelectionLength: 2,
                language: "ru",
                theme: "bootstrap"
            });
            return true
        }

        $(document).ready(setSelectSearch('#list-1'));
    </script>
    <script>
        let form_count = 1

        function addNewSupplyForm() {
            form_count++
            $('.forms').append(getNewSupplyForm(form_count))
            setSelectSearch('#list-' + form_count)
        }

        function getNewSupplyForm(num) {
            return '<div class="row form-inline" id="' + num + '">' +
                '<div class="form-group col">' +
                '<select id="list-' + num + '" class="form-control product_list" name="' + num + '_name">' +
                '<option selected>Продукт</option>' +
                {% for product in products %}
                    '<option value="{{ product.id }}">{{ product.name_measure }}</option>' +
                {% endfor %}
                '</select>' +
                '</div>' +
                '<div class="form-group col">' +
                '<input type="number" class="form-control input-custom" name="' + num + '_volume" placeholder="Объем (мл/г/шт)" required>' +
                '</div>' +
                '<div class="form-group col">' +
                '<input type="number" class="form-control input-custom" name="' + num + '_cost" placeholder="Стоимость" required>' +
                '</div>' +
                '<button type="button" class="btn-close" onclick="deleteForm(' + num + ')"></button>' +
                '</div>'
        }

        function deleteForm(num) {
            $('#' + num).remove()
        }
    </script>
    <script>
        function save_form() {
            $('#save_form_btn').addClass('disabled')
            let form;
            if ($('.raw').is(":visible")) {
                form = $('.raw form').serializeArray()
            } else {
                form = $('.other form').serializeArray()
            }

            form.push({
                'name': 'delivery_cost',
                'value': $('#delivery_cost').val()
            })

            form.push({
                'name': 'payment_date',
                'value': $('#payment_date').val()
            })

            form.push({
                'name': 'getting_date',
                'value': $('#getting_date').val()
            })

            form.push({
                'name': 'provider',
                'value': $('#provider').val()
            })

            $.post('/supplies_create', form, function (data) {
                if (data['message']) {
                    alert('Заполните пустые поля')
                    $('#save_form_btn').removeClass('disabled')
                } else {
                    location.href = '/supplies'
                }
            })
        }

        function cleanForms() {
            $('.forms select').val(null).trigger("change");
            $(':input', 'form')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .prop('checked', false)
                .prop('selected', false);
            document.getElementsByName('date')[0].valueAsDate = new Date();
        }
    </script>
{% endblock %}

